<!DOCTYPE html>
<html lang="en">

<head>
	<title>招贤纳士 | 明曦（杭州）资产管理有限公司</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Responsive Multipurpose Bootstrap Theme">
	<meta name="author" content="The Develovers">
	<!-- CSS -->
	<link href="assets/css/bootstrap.css" rel="stylesheet" type="text/css">
	<link href="assets/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="assets/css/main.css" rel="stylesheet" type="text/css">
	<link href="assets/css/my-custom-styles.css" rel="stylesheet" type="text/css">
	
	<!-- IE 9 Fallback-->
	<!--[if IE 9]>
		<link href="assets/css/ie.css" rel="stylesheet">
	<![endif]-->
	<!-- GOOGLE FONTS -->
	<link href='http://fonts.useso.com/css?family=Open+Sans:300,400italic,400,600,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.useso.com/css?family=Roboto+Condensed:300,300italic,400italic,700,400,300' rel='stylesheet' type='text/css'>
	<!-- FAVICONS -->
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/repute144x144.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/repute114x114.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/repute72x72.png">
	<link rel="apple-touch-icon-precomposed" href="assets/ico/repute57x57.png">
	<link rel="shortcut icon" href="assets/ico/favicon.png">
</head>

<body>
	<!-- WRAPPER -->
	<div class="wrapper">
		<!-- NAVBAR -->
		<nav class="navbar navbar-default " role="navigation">
			<div class="container">
				
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav">
						<span class="sr-only">Toggle Navigation</span>
						<i class="fa fa-bars"></i>
					</button>
					<a href="index.html" >
						<img style="width:192px;height:40px;margin-top:5px;" src="assets/img/logo/logo设计_画板 4.png" alt="明曦（杭州）资产管理有限公司">
					</a>
				</div>
				<!-- MAIN NAVIGATION -->
				<div id="main-nav" class="navbar-collapse collapse navbar-mega-menu">
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown active">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">主页 <i class="fa fa-angle-down"></i></a>
							<ul class="dropdown-menu" role="menu">
								<li><a href="index.html">主页</a></li>
								
								
							</ul>
						</li>
						<li class="dropdown ">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">明曦简介   <i class="fa fa-angle-down"></i></a>
							<ul class="dropdown-menu" role="menu">
								<li><a href="page-about-us.html">明曦简介</a></li>
								
								
							</ul>
						</li>
						<li class="dropdown ">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">团队成员 <i class="fa fa-angle-down"></i></a>
							<ul class="dropdown-menu" role="menu">
								<li><a href="page-pricing-tables.html">团队成员</a></li>
								
								
							</ul>
						</li>
						<li class="dropdown mega-menu">
							<a href="#" data-toggle="dropdown">产品介绍 <i class="fa fa-angle-down"></i></a>
							<ul class="dropdown-menu" role="menu">
								<li><a href="page-services.html">明曦CTA1号</a></li>
								<li><a href="page-support.html">明曦FOF1号</a></li>
								<li><a href="page-terms.html">更多产品</a></li>
								
							</ul>
							
						</li>
						<li class="dropdown ">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">招贤纳士 <i class="fa fa-angle-down"></i></a>
							<ul class="dropdown-menu" role="menu">
								<li><a href="portfolio-4-columns.html">量化程序员（quantitative developer）/实习生</a></li>
								<li><a href="portfolio-3-columns.html">量化投资套利策略研究员</a></li>
								
								
							</ul>
						</li>
						
						
					</ul>
				</div>
				<!-- END MAIN NAVIGATION -->
			</div>
		</nav>
		<!-- END NAVBAR -->
		<!-- BREADCRUMBS -->
		<div class="page-header">
			<div class="container">
				<h1 class="page-title pull-left" style="font-family:Microsoft YaHei"><strong>量化投资套利策略研究员</strong></h1>
				
			</div>
		</div>
		<!-- END BREADCRUMBS -->
		<!-- PAGE CONTENT -->
		<div class="page-content">
			<div class="container">
			<section>
					<div class="row">
						<div class="col-md-6">
							<p><strong>【工作内容】</strong></p>
							<p>1.研究和开发各类套利策略；</p>
							<p>2.管理运作实盘资金。</p>
							<p><strong>【任职要求】</strong></p>
							<p>1.具备量化投资所需的数理和计算机基础，专业不限；</p>
							<p>2.熟悉国内量化套利策略研发，有实战经验；</p>
							<p>3.具有一定的编程能力；</p>
							<p>4.执行力强。</p>
							<p><strong>【薪酬】</strong></p>
							<p>面议，行业内较高标准。</p>
						</div>
						<div class="col-md-6">
						<img src="assets/img/news/5327fbb346b65.jpg" class="img-responsive" alt="Image Intro">
					    </div>
						
					</div>
					<br>
					<hr>
			<!--
				<div class="col-md-6">
						<div class="news-item news-featured">
							<a href="#"><img src="assets/img/news/5327fbb346b65.jpg" class="img-responsive" alt="News Thumbnail"></a>
							<h3 class="news-title"><a href="#">Java开发工程师</a></h3>
							<p>【工作内容】</p>
							<p>1.研发并优化公司的量化投资回测平台，对投资策略进行多方面的测试；</p>
							<p>2.研发公司的交易监控、仓位管理和风险控制系统；</p>
							<p>3.研发公司的投资管理系统并维护。</p>
							<p>【任职要求】</p>
							<p>1.全日制本科以上学历，计算机或相关专业；</p>
							<p>2.精通JAVA编程以及主流框架，熟悉JVM调优；</p>
							<p>3.熟悉软件研发流程，深刻理解面向对象，熟悉各种常用设计模式。</p>
							<p>加分项：</p>
							<p>1.在海量数据的高性能存储方面有丰富经验；</p>
							<p>2.熟悉分布式数据处理和Java性能优化。</p>
							
							<div class="news-meta">
								<span class="news-datetime"></span>
								<span class="news-comment-count pull-right"><a href="#"></a></span>
							</div>
						</div>
					</div>
				-->
				
			</div>
		</div>
		<!-- END PAGE CONTENT -->
		<!-- FOOTER -->
		<footer>
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<!-- COLUMN 1 -->
						<h2 class="footer-heading" style="font-family:Microsoft YaHei"><strong>明曦资本</strong></h2>
						
						
						
						<br>
						
						<!-- END COLUMN 1 -->
					</div>
					
					
					
					
					<div class="col-md-4">
						<!-- COLUMN 2 -->
						<address class="margin-bottom-30px">
							<ul class="list-unstyled">
								
								<li>联系电话: 0571-56570410</li>
								<li>&nbsp;&nbsp;</li>
								<li>联系邮箱: contact@mingxifund.com</li>
								<li>&nbsp;&nbsp;</li>
								<li>微信公众号：明曦资本</li>
							</ul>
						</address>
						<!-- END COLUMN 2 -->
						<!--
						<h3 class="footer-heading">USEFUL LINKS</h3>
						<div class="row margin-bottom-30px">
							<div class="col-xs-6">
								<ul class="list-unstyled footer-nav">
									<li><a href="#">About Us</a></li>
									<li><a href="#">News</a></li>
									<li><a href="#">Community</a></li>
									<li><a href="#">Career</a></li>
									<li><a href="#">Blog</a></li>
								</ul>
							</div>
							<div class="col-xs-6">
								<ul class="list-unstyled footer-nav">
									<li><a href="#">Press Kit</a></li>
									<li><a href="#">FAQ</a></li>
									<li><a href="#">Terms</a></li>
									<li><a href="#">Privacy Policy</a></li>
									<li><a href="#">Contact Us</a></li>
								</ul>
							</div>
						</div>
						
					</div>
					<div class="col-md-4">
						<!-- COLUMN 3 
						<div class="newsletter">
							<h3 class="footer-heading">NEWSLETTER</h3>
							<p>Get the latest update from us by subscribing to our newsletter.</p>
							<form class="newsletter-form" method="POST">
								<div class="input-group input-group-lg">
									<input type="email" class="form-control" name="email" placeholder="youremail@domain.com">
									<span class="input-group-btn"><button class="btn btn-primary" type="button"><i class="fa fa-spinner fa-spin"></i><span>SUBSCRIBE</span></button>
									</span>
								</div>
								<div class="alert"></div>
							</form>
						</div>
						<div class="social-connect">
							<h3 class="footer-heading">GET CONNECTED</h3>
							<ul class="list-inline social-icons">
								<li><a href="#" class="facebook-bg"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#" class="twitter-bg"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#" class="googleplus-bg"><i class="fa fa-google-plus"></i></a></li>
								<li><a href="#" class="rss-bg"><i class="fa fa-rss"></i></a></li>
							</ul>
						</div>
						<!-- END COLUMN 3 -->
					</div>
					<div class="col-md-4">
						<!-- COLUMN 2 -->
						
						
						<img src="assets/img/qrcode_for_gh_e8e8bd0f13ba_430.jpg" height="150" width="150" class="img-responsive" alt="Image Intro">
						
						
						
						
						<!-- END COLUMN 2 -->
					</div>
				</div>
			</div>
			<!-- COPYRIGHT -->
			<div class="text-center copyright">
				&copy;2016 All Rights Reserved. 明曦（杭州）资产管理有限公司 浙ICP备16019070号-1
			</div>
			<!-- END COPYRIGHT -->
		</footer>
		<!-- END FOOTER -->
	</div>
	<!-- END WRAPPER -->
	<!-- JAVASCRIPTS -->
	<script src="assets/js/jquery-2.1.1.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/js/plugins/isotope/isotope.pkgd.js"></script>
	<script src="assets/js/plugins/autohidingnavbar/jquery.bootstrap-autohidingnavbar.min.js"></script>
	<script src="assets/js/repute-scripts.js"></script>
	
</body>

</html>
