<!DOCTYPE html>
<html lang="en">

<head>
	<title>明曦（杭州）资产管理有限公司</title>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Responsive Multipurpose Bootstrap Theme">
	<meta name="author" content="The Develovers">
    <!-- CSS -->
    {% load static %}
	<link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
	<link href="/assets/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="/assets/css/main.css" rel="stylesheet" type="text/css">
	<link href="/assets/css/my-custom-styles.css" rel="stylesheet" type="text/css">
	
	<!-- FAVICONS -->
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/ico/repute144x144.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/ico/repute114x114.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/ico/repute72x72.png">
	<link rel="apple-touch-icon-precomposed" href="/assets/ico/repute57x57.png">
	<link rel="shortcut icon" href="/assets/ico/favicon.png">
    
</head>

<body>
	<!-- WRAPPER -->
	<div class="wrapper">
		<!-- NAVBAR -->
		<nav class="navbar navbar-default " role="navigation">
			<div class="container">
				
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav">
						<span class="sr-only">Toggle Navigation</span>
						<i class="fa fa-bars"></i>
					</button>
					<a href="index.html" >
						<img style="width:192px;height:40px;margin-top:5px;" src="/assets/img/logo/logo设计_画板 4.png" alt="明曦（杭州）资产管理有限公司">
					</a>
				</div>
				<!-- MAIN NAVIGATION -->
				<div id="main-nav" class="navbar-collapse collapse navbar-mega-menu">
					<ul class="nav navbar-nav navbar-right">	
					</ul>
				</div>
				<!-- END MAIN NAVIGATION -->
			</div>
		</nav>
		<!-- END NAVBAR -->
		<!-- BREADCRUMBS -->
		<div style="margin:auto;">
			<div class="page-header">
				<div class="container" style="text-align:center">
					<h1 class="page-title" style="font-family:Microsoft YaHei;"><strong><font color="red">重要声明</font></strong></h1>
					
				</div>
			</div>
			<div class="page-content">
				<div class="container">
					<section>
						<p><strong><font size="4px" color="black">如果您进入、访问或使用本网站及其任何网页，即表明您已同意接受以下条款与条件的约束。下列条款与条件可能会做出变更。如您不同意下列条款与条件，请勿进入、访问或使用本网站。“本网站”指由明曦（杭州）资产管理有限公司所有并发布的本网站（www.mingxifund.com）及其网站内包含的所有信息及材料。</font></strong></p>
						<p>&nbsp;&nbsp;</p>
						<p><font size="3px" color="black">1.本网站所载信息和资料的来源皆被本公司认为可靠，且本公司尽力严谨处理本网站所载信息和资料，但本公司对其准确性、足够性、完整性及其使用的适当性等不作任何担保。未经本公司许可，不得转载和发布本网站内的任何信息。</font></strong></p>
						<p>&nbsp;&nbsp;</p>
						<p><font size="3px" color="black">2.本网站介绍的信息、工具和资料仅供一般性参考，除非另有明确协议，不视为购买或销售任何金融产品的某种要约，亦非对任何交易的正式确认。本网站介绍的信息、工具和资料并非旨在提供任何形式的建议，包括但不限于投资、税收、会计或法律上的建议。投资有风险，投资产品的过往业绩并不预示其未来表现，您在做出投资决策前应认真阅读相关产品合同，并自行承担投资风险。</font></strong></p>
						<p>&nbsp;&nbsp;</p>
						<p><font size="3px" color="black">3.本公司就本网站各项服务的安全、无误及不中断不承担任何明示或默示的保证责任。您同意自行承担使用本网站服务的所有风险及因该等风险可能造成的任何损害，对于因技术故障（如传输错误、技术缺陷、第三者侵入等）而导致的任何数据缺失等，本公司不承担任何责任。</font></strong></p>
						<p>&nbsp;&nbsp;</p>
						<p><font size="3px" color="black">4.本网站的内容将定期更新或修正。本公司对网站所载或所涉及的信息和资料的及时性不作任何担保或保证。本公司保留无需事先通知即可删除或修改网站信息的权利。</font></strong></p>
						<p>&nbsp;&nbsp;</p>
						<p><font size="3px" color="black">5.除非存在故意不当或欺诈行为，本公司及其董事、员工对于因您进入、访问或使用本网站，或无法进入、访问或使用本网站而可能对您导致的任何直接或间接损失，不承担任何责任。</font></strong></p>
						<p>&nbsp;&nbsp;</p>
						<p><font size="3px" color="black">6.进入、或访问本网站，以及本条款与条件受中华人民共和国法律管辖，并依照中华人民共和国法律解释。若因本网站产生的任何争议，将以本网站发布者所在地法院为管辖法院，除非中国法律对此有强制性规定。</font></strong></p>
						<p>&nbsp;&nbsp;</p>
						<p><font size="3px" color="black">7.与本网站所载资料有关的所有版权、专利权、知识产权及其他产权均为本公司所有。</font></strong></p>
						<p>&nbsp;&nbsp;</p>
						<p>&nbsp;&nbsp;</p>
						<div style="text-align:center;">
							<div style="margin:0px auto"></div>
                            <!--a href="index.html" class="btn btn-primary pull-middle">同意</a-->
                            <form action="/" method="POST">
                                <button type="submit" name="mingxi" class="btn btn-primary pull-middle">同意</button>
                                <button class="btn btn-primary pull-middle" OnClick="javascript: window.close();">不同意</button>
                            </form>
                        </div>
						
						<br>
						<br>
						<!-- BOXED CONTENT 
						<div class="row">
							<div class="col-md-4">
								<div class="boxed-content left-aligned left-boxed-icon">
									<i class="fa fa-flag"></i>
									<h2 class="boxed-content-title">GOAL ORIENTED</h2>
									<p>Holisticly harness just in time technologies via corporate scenarios. Intrinsicly predominate ubiquitous outsourcing through an expanded array of functionalities.</p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="boxed-content left-aligned left-boxed-icon">
									<i class="fa fa-globe"></i>
									<h2 class="boxed-content-title">GLOBAL SERVICE</h2>
									<p>Holisticly harness just in time technologies via corporate scenarios. Intrinsicly predominate ubiquitous outsourcing through an expanded array of functionalities.</p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="boxed-content left-aligned left-boxed-icon">
									<i class="fa fa-cog"></i>
									<h2 class="boxed-content-title">DYNAMIC CHANGE</h2>
									<p>Holisticly harness just in time technologies via corporate scenarios. Intrinsicly predominate ubiquitous outsourcing through an expanded array of functionalities.</p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="boxed-content left-aligned left-boxed-icon">
									<i class="fa fa-line-chart"></i>
									<h2 class="boxed-content-title">GROWTH &amp; EXPANSION</h2>
									<p>Holisticly harness just in time technologies via corporate scenarios. Intrinsicly predominate ubiquitous outsourcing through an expanded array of functionalities.</p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="boxed-content left-aligned left-boxed-icon">
									<i class="fa fa-trophy"></i>
									<h2 class="boxed-content-title">BE A WINNER</h2>
									<p>Holisticly harness just in time technologies via corporate scenarios. Intrinsicly predominate ubiquitous outsourcing through an expanded array of functionalities.</p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="boxed-content left-aligned left-boxed-icon">
									<i class="fa fa-sitemap"></i>
									<h2 class="boxed-content-title">ORGANIZATION</h2>
									<p>Holisticly harness just in time technologies via corporate scenarios. Intrinsicly predominate ubiquitous outsourcing through an expanded array of functionalities.</p>
								</div>
							</div>
						</div>
						<!-- END BOXED CONTENT 
					</section>
					<hr>
					<!-- TESTIMONIAL 
					<section class="testimonial slick-carousel margin-bottom-30px">
						<h2 class="section-heading">WHAT THEY SAY</h2>
						<div class="testimonial-container">
							<div class="testimonial-body">
								<p>Credibly extend parallel relationships after clicks-and-mortar content. Credibly pontificate team building alignments rather than diverse quality vectors. Monotonectally benchmark business communities for distinctive mindshare.</p>
								<div class="testimonial-author">
									<img src="assets/img/user2.png" alt="Author" class="pull-left">
									<span><span class="author-name">Antonius</span> <em>CEO of TheCompany</em></span>
								</div>
							</div>
							<div class="testimonial-body">
								<p>Credibly pontificate team building alignments rather than diverse quality vectors. Monotonectally benchmark business communities for distinctive mindshare.</p>
								<div class="testimonial-author">
									<img src="assets/img/user1.png" alt="Author" class="pull-left">
									<span><span class="author-name">Michael</span> <em>General Manager of DreamCorp</em></span>
								</div>
							</div>
							<div class="testimonial-body">
								<p>Appropriately morph low-risk high-yield process improvements through progressive partnerships. Uniquely brand enabled. Globally network timely imperatives without plug-and-play schemas. Globally coordinate economically sound interfaces.</p>
								<div class="testimonial-author">
									<img src="assets/img/user5.png" alt="Author" class="pull-left">
									<span><span class="author-name">Palmer</span> <em>Freelance Web Developer</em></span>
								</div>
							</div>
						</div>
					</section>
					<!-- END TESTIMONIAL 
					<hr class="margin-bottom-50px">
					<!-- OUR CLIENTS 
					<section class="clients no-margin">
						<div class="container">
							<h2 class="section-heading">OUR CLIENTS</h2>
							<ul class="list-inline list-client-logo">
								<li>
									<a href="#"><img src="assets/img/clients/logo1.png" alt="logo" /></a>
								</li>
								<li>
									<a href="#"><img src="assets/img/clients/logo2.png" alt="logo" /></a>
								</li>
								<li>
									<a href="#"><img src="assets/img/clients/logo3.png" alt="logo" /></a>
								</li>
								<li>
									<a href="#"><img src="assets/img/clients/logo4.png" alt="logo" /></a>
								</li>
								<li>
									<a href="#"><img src="assets/img/clients/logo5.png" alt="logo" /></a>
								</li>
							</ul>
						</div>
					</section>
					<!-- END OUR CLIENTS 
					-->
				</div>
			</div>
		</div>
		<!-- END PAGE CONTENT -->
		<!-- FOOTER -->
		<footer>
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<!-- COLUMN 1 -->
						<h2 class="footer-heading" style="font-family:Microsoft YaHei"><strong>明曦资本</strong></h2>
						
						
						
						<br>
						
						<!-- END COLUMN 1 -->
					</div>
					
					
					
					
					<div class="col-md-4">
						<!-- COLUMN 2 -->
						<address class="margin-bottom-30px">
							<ul class="list-unstyled">
								
								<li>联系电话: 0571-56570410</li>
								<li>&nbsp;&nbsp;</li>
								<li>联系邮箱: contact@mingxifund.com</li>
								<li>&nbsp;&nbsp;</li>
								<li>微信公众号：明曦资本</li>
							</ul>
						</address>
						<!-- END COLUMN 2 -->
						<!--
						<h3 class="footer-heading">USEFUL LINKS</h3>
						<div class="row margin-bottom-30px">
							<div class="col-xs-6">
								<ul class="list-unstyled footer-nav">
									<li><a href="#">About Us</a></li>
									<li><a href="#">News</a></li>
									<li><a href="#">Community</a></li>
									<li><a href="#">Career</a></li>
									<li><a href="#">Blog</a></li>
								</ul>
							</div>
							<div class="col-xs-6">
								<ul class="list-unstyled footer-nav">
									<li><a href="#">Press Kit</a></li>
									<li><a href="#">FAQ</a></li>
									<li><a href="#">Terms</a></li>
									<li><a href="#">Privacy Policy</a></li>
									<li><a href="#">Contact Us</a></li>
								</ul>
							</div>
						</div>
						
					</div>
					<div class="col-md-4">
						<!-- COLUMN 3 
						<div class="newsletter">
							<h3 class="footer-heading">NEWSLETTER</h3>
							<p>Get the latest update from us by subscribing to our newsletter.</p>
							<form class="newsletter-form" method="POST">
								<div class="input-group input-group-lg">
									<input type="email" class="form-control" name="email" placeholder="youremail@domain.com">
									<span class="input-group-btn"><button class="btn btn-primary" type="button"><i class="fa fa-spinner fa-spin"></i><span>SUBSCRIBE</span></button>
									</span>
								</div>
								<div class="alert"></div>
							</form>
						</div>
						<div class="social-connect">
							<h3 class="footer-heading">GET CONNECTED</h3>
							<ul class="list-inline social-icons">
								<li><a href="#" class="facebook-bg"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#" class="twitter-bg"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#" class="googleplus-bg"><i class="fa fa-google-plus"></i></a></li>
								<li><a href="#" class="rss-bg"><i class="fa fa-rss"></i></a></li>
							</ul>
						</div>
						<!-- END COLUMN 3 -->
					</div>
					<div class="col-md-4">
						<!-- COLUMN 2 -->
						
						
						<img src="/assets/img/qrcode_for_gh_e8e8bd0f13ba_430.jpg" height="150" width="150" class="img-responsive" alt="Image Intro">
						
						
						
						
						<!-- END COLUMN 2 -->
					</div>
				</div>
			</div>
			<!-- COPYRIGHT -->
			<div class="text-center copyright">
				&copy;2016 All Rights Reserved. 明曦（杭州）资产管理有限公司 浙ICP备16019070号-1
			</div>
			<!-- END COPYRIGHT -->
		</footer>
		<!-- END FOOTER -->
	</div>
	<!-- END WRAPPER -->
	<!-- JAVASCRIPTS -->
	<script src="/assets/js/jquery-2.1.1.min.js"></script>
	<script src="/assets/js/bootstrap.min.js"></script>
	<script src="/assets/js/plugins/slick/slick.min.js"></script>
	<script src="/assets/js/plugins/autohidingnavbar/jquery.bootstrap-autohidingnavbar.min.js"></script>
	<script src="/assets/js/repute-scripts.js"></script>
    <script src="/assets/js/wxshare.js"></script>
	
</body>

</html>
