                            <div class="tab-pane" id="content1">
                            <div>
                                <ul class="nav nav-tabs">
                                    <li>
                                        <a data-target="#bar5" data-toggle="tab" >产品净值图</a>
                                    </li>
                                    <li>
                                        <a data-target="#bar6" data-toggle="tab" >产品净值</a>
                                    </li>
                                    <li>
                                        <a data-target="#bar7" data-toggle="tab">产品信息</a>
                                    </li>
                                    <li>
                                        <a data-target="#bar8" data-toggle="tab">认购流程</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="bar5">
                                        <div id="Tchart2"></div>
                                    </div>
                                    <div class="tab-pane" id="bar6">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">明曦-礼瀚FOF1号</div>
                                            <div class="panel-body">
                                                <table class="table table-hover table-striped table_zebra" style="text-align:center;">
                                                    <thead>
                                                        <tr>
                                                            <th style="text-align:center;">更新时间</th>
                                                            <th style="text-align:center;">累计净值</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>2016.07.08</td>
                                                            <td>1.0821</td>
                                                        </tr>
                                                        <tr>
                                                            <td>2016.06.24</td>
                                                            <td>1.0651</td>
                                                        </tr>
                                                        <tr>
                                                            <td>2016.06.17</td>
                                                            <td>1.0577</td>
                                                        </tr>
                                                        <tr>
                                                            <td>2016.06.08</td>
                                                            <td>1.0563</td>
                                                        </tr>
                                                        <tr>
                                                            <td>2016.05.27</td>
                                                            <td>1.0537</td>
                                                        </tr>
                                                        <tr>
                                                            <td>2016.05.20</td>
                                                            <td>1.0518</td>
                                                        </tr>
                                                        <tr>
                                                            <td>2016.05.06</td>
                                                            <td>1.0630</td>
                                                        </tr>
                                                        <tr>
                                                            <td>2016.04.29</td>
                                                            <td>1.0612</td>
                                                        </tr>
                                                        <tr>
                                                            <td>2016.04.22</td>
                                                            <td>1.0526</td>
                                                        </tr>
                                                        <tr>
                                                            <td>2016.04.15</td>
                                                            <td>1.0464</td>
                                                        </tr>
                                                        <tr>
                                                            <td>2016.04.08</td>
                                                            <td>1.0433</td>
                                                        </tr>
                                                        <tr>
                                                            <td>2016.04.01</td>
                                                            <td>1.0324</td>
                                                        </tr>
                                                        <tr>
                                                            <td>2016.03.25</td>
                                                            <td>1.0390</td>
                                                        </tr>
                                                        <tr>
                                                            <td>2016.03.18</td>
                                                            <td>1.0126</td>
                                                        </tr>
                                                        <tr>
                                                            <td>2016.03.11</td>
                                                            <td>1.0008</td>
                                                        </tr>
                                                        <tr>
                                                            <td>2016.03.04</td>
                                                            <td>1</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">沪深300</div>
                                            <div class="panel-body">
                                                <table class="table table-hover table-striped table_zebra1" id="hushen300" style="text-align:center;">
                                                    <thead>
                                                        <tr>
                                                            <th style="text-align:center;">更新时间</th>
                                                            <th style="text-align:center;">累计净值</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>2016.07.29</td>
                                                            <td>1.0356</td>
                                                        </tr>
                                                        <tr>
                                                            <td>2016.07.22</td>
                                                            <td>1.0424</td>
                                                        </tr>
                                                        <tr>
                                                            <td>2016.07.15</td>
                                                            <td>1.0590</td>
                                                        </tr>
                                                        <tr>
                                                            <td>2016.07.11</td>
                                                            <td>1.0318</td>
                                                        </tr>
                                                        <tr>
                                                            <td>2016.07.08</td>
                                                            <td>1.0195</td>
                                                        </tr>
                                                        <tr>
                                                            <td>2016.06.24</td>
                                                            <td>0.9946</td>
                                                        </tr>
                                                        <tr>
                                                            <td>2016.06.17</td>
                                                            <td>1.0053</td>
                                                        </tr>
                                                        <tr>
                                                            <td>2016.06.08</td>
                                                            <td>1.0227</td>
                                                        </tr>
                                                        <tr>
                                                            <td>2016.05.27</td>
                                                            <td>1.0308</td>
                                                        </tr>
                                                        <tr>
                                                            <td>2016.05.20</td>
                                                            <td>0.9899</td>
                                                        </tr>
                                                        <tr>
                                                            <td>2016.05.06</td>
                                                            <td>0.9949</td>
                                                        </tr>
                                                        <tr>
                                                            <td>2016.04.29</td>
                                                            <td>0.9939</td>
                                                        </tr>
                                                        <tr>
                                                            <td>2016.04.22</td>
                                                            <td>1.0118</td>
                                                        </tr>
                                                        <tr>
                                                            <td>2016.04.15</td>
                                                            <td>1.0203</td>
                                                        </tr>
                                                        <tr>
                                                            <td>2016.04.08</td>
                                                            <td>1.0262</td>
                                                        </tr>
                                                        <tr>
                                                            <td>2016.04.01</td>
                                                            <td>1.0576</td>
                                                        </tr>
                                                        <tr>
                                                            <td>2016.03.25</td>
                                                            <td>1.0297</td>
                                                        </tr>
                                                        <tr>
                                                            <td>2016.03.18</td>
                                                            <td>1.0414</td>
                                                        </tr>
                                                        <tr>
                                                            <td>2016.03.11</td>
                                                            <td>1.0336</td>
                                                        </tr>
                                                        <tr>
                                                            <td>2016.03.04</td>
                                                            <td>1.0252</td>
                                                        </tr>
                                                        <tr>
                                                            <td>2016.02.26</td>
                                                            <td>0.9755</td>
                                                        </tr>
                                                        <tr>
                                                            <td>2016.02.19</td>
                                                            <td>1</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="bar7">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">FOF1号产品信息</div>
                                            <div class="panel-body">
                                                <table class="table table-hover table-striped" style="text-align:center;">
                                                    <tbody>
                                                        <tr>
                                                            <th>产品名称</th>
                                                            <td>明曦-礼瀚FOF1号私募证券投资基金</td>
                                                        </tr>
                                                        <tr>
                                                            <th>产品类型</th>
                                                            <td>FOF</td>
                                                        </tr>
                                                        <tr>
                                                            <th>基金管理人</th>
                                                            <td>杭州礼瀚投资管理有限公司</td>
                                                        </tr>
                                                        <tr>
                                                            <th>基金托管人</th>
                                                            <td>中国银河证券股份有限公司</td>
                                                        </tr>
                                                        <tr>
                                                            <th>投资范围</th>
                                                            <td>私募基金产品（量化对冲基金）</td>
                                                        </tr>
                                                        <tr>
                                                            <th>认购起点</th>
                                                            <td>100万（追加金额为10万元人民币的整数倍）</td>
                                                        </tr>
                                                        <tr>
                                                            <th>认购费率</th>
                                                            <td>0</td>
                                                        </tr>
                                                        <tr>
                                                            <th>赎回费率</th>
                                                            <td>0</td>
                                                        </tr>
                                                        <tr>
                                                            <th>申购费率</th>
                                                            <td>1%</td>
                                                        </tr>
                                                        <tr>
                                                            <th>管理费率</th>
                                                            <td>1%</td>
                                                        </tr>
                                                        <tr>
                                                            <th>托管费率</th>
                                                            <td>0.2%</td>
                                                        </tr>
                                                        <tr>
                                                            <th>预警线/止损线</th>
                                                            <td>0.90/0.85</td>
                                                        </tr>
                                                        <tr>
                                                            <th>封闭期</th>
                                                            <td>6个月</td>
                                                        </tr>
                                                        <tr>
                                                            <th>开放日</th>
                                                            <td>每个自然季度末月（即3、6、9、12月）的最后一个星期五</td>
                                                        </tr>
                                                        <tr>
                                                            <th>存续期限</th>
                                                            <td>2年</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="bar8">
                                        <p style="font-size:14px;">请联系我们的工作人员洽谈认购事宜：</p>
                                        <p style="font-size:14px;">联系电话: 0571-56570410</p>
                                        <p style="font-size:14px;">联系邮箱: contact@mingxifund.com</p>
                                    </div>
                                </div>
                            </div>
                            </div>
                            <script>
                            var tr_num = $('#bar6 .table_zebra tbody tr').length;
                var trends2 = [];
                var dates  = [];
                var years  = [];
                var tips  = [];
                var i = 0;
                var trends3 = [];
                var j = 0;
                var all = ($('#bar6 table.table_zebra tbody tr').length)/4;
                var per = ($('#bar6 table.table_zebra tbody tr').length)/4;
                var title = $('.lianxi a').html();

                $('#bar6 table.table_zebra tbody tr').each(function(){
                   var trend =  parseFloat($(this).find('td:eq(1)').text());
                   var date =  $.trim($(this).find('td:eq(0)').text());
                   var year = (date.substring(0,4));
                   var month = (date.substring(5,7))-1;
                   var day = (date.substring(8,10));
                   trends2[i] = [Date.UTC(year,  month,  day), trend];
                   i++;
                });
                
                $('#hushen300 tbody tr').each(function(){
                   var trend =  parseFloat($(this).find('td:eq(1)').text());
                   var date =  $.trim($(this).find('td:eq(0)').text());
                   var year = (date.substring(0,4));
                   var month = (date.substring(5,7))-1;
                   var day = (date.substring(8,10));
                   trends3[j] = [Date.UTC(year,  month,  day), trend];
                   j++;
                });

                console.log(trends2);
                console.log(trends3);
                $('#Tchart2').highcharts({
                    chart: {
                        type: 'spline',
                        reflow:true
                    },
                    title: {
                        text: title,
                        style: {color: '#333', fontFamily: 'Microsoft YaHei', fontSize: '14px'}
                    },
                    colors: ['#AA604C'],
                    // symbols: ['triangle'],
                    symbols:['circle','diamond','square','triangle','triangle-down'] ,
                    xAxis: {
                        tickPixelInterval: 50,
                        type: 'datetime',  
                        dashStyle:'longdashdot',
                        labels: {   
                              staggerLines: 1,
                              formatter: function () {  
                                    //return Highcharts.dateFormat('%Y-%m-%d', this.value); 
                                    var year = Highcharts.dateFormat('%Y', this.value);  
                                    var month = Highcharts.dateFormat('%m', this.value); 
                                    if(this.isFirst || month == 1) { 
                                      return Highcharts.dateFormat('%y.%m', this.value); 
                                    }else { 
                                      return Highcharts.dateFormat('%y.%m', this.value); 
                                    }
                                }
                              },
                        dateTimeLabelFormats: { // don't display the dummy year
                            month: '%Y-%m-%d'
                        }
                        
                    },
                    credits:{
                      enabled: false
                    },
                    yAxis: {
                        tickPixelInterval: 50,
                        title: {
                            text: '净值',
                            style: {color: '#333', fontFamily: 'Microsoft YaHei', fontSize: '14px'}
                        },
                        min: 0.90
                    },
                    tooltip: {
                        formatter: function() {
                                return Highcharts.dateFormat('%Y年%m月%d日', this.x) +'</b><br/><b>'+
                                this.y +'</b>';
                        },
                        crosshairs: true,
                        shared: true
                    },
                    
                    plotOptions: {
                      spline: {
                          lineWidth: 2,
                          states: {
                              hover: {
                                  lineWidth: 2
                              }
                          },
                          marker: {
                              enabled: false
                          }
                      }
                    },
                    series: [
                         {
                        name: '明曦-礼瀚FOF1号',
                        /*pointInterval: 2 * 24 * 3600000,
                        pointStart: Date.UTC(2006, 0, 01),*/
                        /*symbol: 'triangle',*/
                        data: trends2.reverse(),
                        color:'red'

                    },{
                    name:'沪深300',
                    data: trends3.reverse(),
                    color:'blue'
                    }]
                });
                            </script>