<!DOCTYPE html>
<html lang="en">

<head>
	<title>主页 | 明曦（杭州）资产管理有限公司</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="keywords" content = "明曦资本,明曦（杭州）资产管理有限公司,玉皇山南基金小镇" charset="utf-8">
    <meta name = "description" content = "明曦（杭州）资产管理有限公司（简称“明曦资本”），注册于杭州玉皇山南基金小镇。创始人团队来自华尔街顶级投行（高盛、花旗、德意志银行）和对冲基金（Worldquant、HBK）。多年从事量化投资工作，涵盖策略设计、平台搭建、交易系统、衍生品定价、风险管理等方面，拥有丰富的量化投资全流程实战经验。">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="明曦资本">
    <meta name="sharecontent" data-msg-img="/assets/ico/title_logo.jpg" data-msg-title="明曦欢迎您！" data-msg-content="明曦资产！" data-msg-callBack="" data-line-img="/assets/ico/title_logo.jpg" data-line-title="明曦欢迎您！" data-line-callBack=""/>  
	<!--meta name="sharecontent" data-msg-img="缩略图地址" data-msg-title="标题" data-msg-content="简介" data-msg-callBack="" data-line-img="缩略图地址" data-line-title="标题" data-line-callBack=""/ --> 
	<!-- CSS -->
	<link href="assets/css/bootstrap.css" rel="stylesheet" type="text/css">
	<link href="assets/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="assets/css/main.css" rel="stylesheet" type="text/css">
	<link href="assets/css/my-custom-styles.css" rel="stylesheet" type="text/css">

	<!-- FAVICONS -->
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/repute144x144.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/repute114x114.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/repute72x72.png">
	<link rel="apple-touch-icon-precomposed" href="assets/ico/repute57x57.png">
	<link rel="shortcut icon" href="assets/ico/favicon.png">
    
</head>

<body>
	<!-- WRAPPER -->
	<div class="wrapper">
		<!-- NAVBAR -->
		<nav class="navbar navbar-default " role="navigation">
			<div class="container">
				
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav">
						<span class="sr-only">Toggle Navigation</span>
						<i class="fa fa-bars"></i>
					</button>
					<a href="index.html" >
						<img style="width:192px;height:40px;margin-top:5px;" src="assets/img/logo/logo设计_画板 4.png" alt="明曦（杭州）资产管理有限公司">
					</a>
				</div>
				<!-- MAIN NAVIGATION -->
				<div id="main-nav" class="navbar-collapse collapse navbar-mega-menu">
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown active">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">主页 <i class="fa fa-angle-down"></i></a>
							<ul class="dropdown-menu" role="menu">
								<li><a href="index.html">主页</a></li>
							</ul>
						</li>
						<li class="dropdown ">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">明曦简介   <i class="fa fa-angle-down"></i></a>
							<ul class="dropdown-menu" role="menu">
								<li><a href="page-about-us.html">明曦简介</a></li>
							</ul>
						</li>
						<li class="dropdown ">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">团队成员 <i class="fa fa-angle-down"></i></a>
							<ul class="dropdown-menu" role="menu">
								<li><a href="page-pricing-tables.html">团队成员</a></li>	
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" data-toggle="dropdown">产品介绍 <i class="fa fa-angle-down"></i></a>
							<ul class="dropdown-menu" role="menu">
								<li><a href="page-services.html">明曦CTA1号</a></li>
								<li><a href="page-support.html">明曦-礼瀚FOF1号</a></li>
							</ul>	
						</li>
						<li class="dropdown ">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">招贤纳士 <i class="fa fa-angle-down"></i></a>
							<ul class="dropdown-menu" role="menu">
								<li><a href="portfolio-4-columns.html">量化程序员（quantitative developer）/实习生</a></li>
								<li><a href="portfolio-3-columns.html">量化投资套利策略研究员</a></li>
							</ul>
						</li>
                        <li class = "nav navbar-nav"> 
                            <ul class="breadcrumb" id="denglu">
                            </ul>
                        </li>
					</ul>
                    
				</div>
				<!-- END MAIN NAVIGATION -->
			</div>
		</nav>
		<!-- END NAVBAR -->
		<!-- HERO UNIT -->
		<section class="hero-unit-slider slider-responsive no-margin">
			<div id="carousel-hero" class="slick-carousel">
				<div class="carousel-inner" role="listbox">
					<div class="item active">
						<img src="assets/img/sliders/1111111.jpg" class="img-responsive" alt="Slider Image">
						
					</div>
					<div class="item">
						<img src="assets/img/sliders/炫酷背景图 (183).jpg" class="img-responsive" alt="Slider Image">
						
					</div>
					<div class="item">
						<img src="assets/img/sliders/543e6e4c4da68.jpg" class="img-responsive" alt="Slider Image">
						
					</div>
				</div>
			</div>
		</section>
		<!-- END HERO UNIT -->
		<!-- MAIN FEATURES -->
		<div class="main-features ">
			<div class="container">
				<div class="row" style="margin-top:16px;">
					<div class="col-md-3 col-sm-6">
						<a href="page-about-us.html" style="color:#94b6df;">
						<i class="fa fa-eye "></i>
						<h3 class="feature-heading" style="font-family:Microsoft YaHei"><strong>明曦简介</strong></h3>
						</a>
					</div>
					<div class="col-md-3 col-sm-6">
						<a href="page-pricing-tables.html" style="color:#94b6df;">
						<i class="fa fa-group "></i>
						<h3 class="feature-heading" style="font-family:Microsoft YaHei"><strong>团队成员</strong></h3>
						</a>
					</div>
					<div class="col-md-3 col-sm-6">
						<a href="page-services.html" style="color:#94b6df;">
						<i class="fa fa-line-chart "></i>
						<h3 class="feature-heading" style="font-family:Microsoft YaHei"><strong>产品介绍</strong></h3>
						</a>
					</div>
					<div class="col-md-3 col-sm-6">
						<a href="portfolio-4-columns.html" style="color:#94b6df;">
						<i class="fa fa-search "></i>
						<h3 class="feature-heading" style="font-family:Microsoft YaHei"><strong>招贤纳士</strong></h3>
						</a>
					</div>
				</div>
			</div>
		</div>
		<!-- END MAIN FEATURES -->
		<!-- INTRO -->
		<section>
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<h2 class="section-heading" style="font-family:Microsoft YaHei"><strong>明曦简介</strong></h2>
						<p class="lead">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;明曦（杭州）资产管理有限公司（简称“明曦资本”），注册于杭州玉皇山南基金小镇。创始人团队来自华尔街顶级投行（高盛、花旗、德意志银行）和对冲基金（Worldquant、HBK）。多年从事量化投资工作，涵盖策略设计、平台搭建、交易系统、衍生品定价、风险管理等方面，拥有丰富的量化投资全流程实战经验。</p>
						<p class="lead">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我们致力于以量化技术实现投资与科学的完美结合，我们专注于多品种、多策略、大容量、稳定回报和低风险的量化投资。我们的投资策略是用统计和数学的方法，从数据出发，通过科学严谨的回测论证，用模型和代码打造穿越经济周期的稳定收益。</p>
						<p></p>
						<p></p>
					</div>
					<div class="col-md-6">
						<img src="assets/img/56973e313a042.jpg" class="img-responsive" alt="Image Intro">
					</div>
				</div>
			</div>
		</section>
				</div>
			</div>
		</section>
		<!-- END LATEST NEWS -->
		
		<!-- TESTIMONIAL -->
		<section id="testimoial-parallax" class="testimonial-with-bg parallax">
			<div class="container">
				<div class="testimonial slick-carousel">
					<div class="testimonial-container">
						<div class="testimonial-body">
							<p>We have three criteria: If it's publicly traded, liquid and amenable to modeling, we trade it.</p>
							<div class="testimonial-author">
								<img src="assets/img/800px-James_Simons_2007.jpg" alt="Author" class="pull-left">
								<span><span class="author-name">Jim Simons</span> <em>Founder and CEO of Renaissance Technologies</em></span>
							</div>
						</div>
						<div class="testimonial-body">
							<p>Markets are constantly in a state of uncertainty and flux and money is made by discounting the obvious and betting on the unexpected.</p>
							<div class="testimonial-author">
								<img src="assets/img/478px-George_Soros_47th_Munich_Security_Conference_2011_crop.jpg" alt="Author" class="pull-left">
								<span><span class="author-name">George Soros</span> <em>Chairman of Soros Fund Management</em></span>
							</div>
						</div>
						<div class="testimonial-body">
							<p>Your time is limited, so don't waste it living someone else's life. Don't be trapped by dogma - which is living with the results of other people's thinking. Don't let the noise of others' opinions drown out your own inner voice. And most important, have the courage to follow your heart and intuition.</p>
							<div class="testimonial-author">
								<img src="assets/img/9c16fdfaaf51f3de373a871497eef01f3a297931.jpg" alt="Author" class="pull-left">
								<span><span class="author-name">Steve Jobs</span> <em>Co-founder, Chairman, and CEO of Apple Inc.</em></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- END TESTIMONIAL -->
		<!-- OUR CLIENTS -->
		<section class="clients">
			<div class="container">
				<h2 class="section-heading" style="font-family:Microsoft YaHei"><strong>合作伙伴</strong></h2>
				<ul class="list-inline list-client-logo" style="text-align:left">
					<li>
						<a href="#"><img src="assets/img/clients/20130628212726-699270308.jpg" alt="logo"></a>
					</li>
					<li>
						<a href="#"><img src="assets/img/clients/20100629092751.jpg" alt="logo"></a>
					</li>
					<li>
						<a href="#"><img src="assets/img/clients/12ZJ094aP-23M7.jpg" alt="logo"></a>
					</li>
					<li>
						<a href="#"><img src="assets/img/clients/0021G4EDgy6YuBKQq0Sbe&690.png" alt="logo"></a>
					</li>
					<li>
						<a href="#"><img src="assets/img/clients/cefc1e178a82b9018661c002728da9773912ef37.jpg" alt="logo"></a>
					</li>
				</ul>
			</div>
		</section>
		
		<footer>
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<!-- COLUMN 1 -->
						<h2 class="footer-heading" style="font-family:Microsoft YaHei"><strong>明曦资本</strong></h2>
						<br>

					</div>

					<div class="col-md-4">
						<!-- COLUMN 2 -->
						<address class="margin-bottom-30px">
							<ul class="list-unstyled">
								
								<li>联系电话: 0571-56570410</li>
								<li>&nbsp;&nbsp;</li>
								<li>联系邮箱: contact@mingxifund.com</li>
								<li>&nbsp;&nbsp;</li>
								<li>微信公众号：明曦资本</li>
							</ul>
						</address>
						
					</div>
					<div class="col-md-4">
						<img src="assets/img/qrcode_for_gh_e8e8bd0f13ba_430.jpg" height="150" width="150" class="img-responsive" alt="Image Intro">
					</div>
				</div>
			</div>
			<!-- COPYRIGHT -->
			<div class="text-center copyright">
				&copy;2016 All Rights Reserved. 明曦（杭州）资产管理有限公司 浙ICP备16019070号-1
			</div>
			<!-- END COPYRIGHT -->
		</footer>
		<!-- END FOOTER -->
	</div>
	<!-- END WRAPPER -->
	<!-- JAVASCRIPTS -->
	<script src="assets/js/jquery-2.1.1.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/js/plugins/slick/slick.min.js"></script>
	<script src="assets/js/plugins/stellar/jquery.stellar.min.js"></script>
	<script src="assets/js/plugins/jquery-easypiechart/jquery.easypiechart.min.js"></script>
	<script src="assets/js/plugins/autohidingnavbar/jquery.bootstrap-autohidingnavbar.min.js"></script>
	<script src="assets/js/repute-scripts.js"></script>
    <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js "></script>
    <script type="text/javascript" src="assets/js/jsSHA/src/sha1.js "></script>
    <script>  
        var signature = '{{ signature }}';
        var timestamp = '{{ timestamp }}';
        console.log(signature);
        //console.log(timestamp);
        
        var imgUrl = 'http://www.mingxifund.com/assets/img/logo/title_logo.jpg';
        var lineLink = 'www.mingxifund.com';  
        var descContent = "我们致力于以量化技术实现投资与科学的完美结合，专注于多品种、多策略、大容量、稳定回报和低风险的量化投资。利用统计和数学的方法，从数据出发，通过科学严谨的回测论证，用模型和代码打造穿越经济周期的稳定收益。";  
        var shareTitle = '明曦（杭州）资产管理有限公司';  
        var appid = 'wx0810ed2afb188559'; 
        
        wx.config({
            debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
            appId: 'wx0810ed2afb188559', // 必填，公众号的唯一标识
            timestamp: '{{ timestamp }}',//timestamp, // 必填，生成签名的时间戳
            nonceStr: '{{ nonceStr }}', // 必填，生成签名的随机串
            signature: '{{ signature }}',// 必填，签名，见附录1
            jsApiList: ['onMenuShareTimeline','onMenuShareAppMessage','onMenuShareQQ','onMenuShareWeibo','onMenuShareQZone'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
        });
        //console.log(wx);
        
       /* wx.checkJsApi({
            jsApiList: ['onMenuShareTimeline','onMenuShareAppMessage','onMenuShareQQ','onMenuShareWeibo','onMenuShareQZone'], // 需要检测的JS接口列表，所有JS接口列表见附录2,
            success: function(res) {
                console.log(checkResult);
                // 以键值对的形式返回，可用的api值true，不可用为false
                // 如：{"checkResult":{"chooseImage":true},"errMsg":"checkJsApi:ok"}
            }
        });*/
    
        wx.ready(function () {
            console.log(wx);
            wx.onMenuShareAppMessage({//朋友圈
                title: shareTitle,
                desc: descContent,
                link: lineLink,
                imgUrl: imgUrl,
                success: function () { 
                    console.log("onMenuShareAppMessage success!");
                },
                cancel: function () { 
                    
                    // 用户取消分享后执行的回调函数
                }
            });

            wx.onMenuShareTimeline({//微信好友
                title: shareTitle,
                desc: descContent,
                link: lineLink,
                imgUrl: imgUrl,
                success: function () { 
                    console.log("onMenuShareTimeline success!");
                    // 用户确认分享后执行的回调函数
                },
                cancel: function () { 
                    // 用户取消分享后执行的回调函数
                }
            });
            
             wx.onMenuShareQQ({//QQ
                title: shareTitle,
                desc: descContent,
                link: lineLink,
                imgUrl: imgUrl,
                success: function () {
                    console.log("onMenuShareQQ success!");
                    // 用户确认分享后执行的回调函数
                },
                cancel: function () { 
                    // 用户取消分享后执行的回调函数
                }
            });
            
            wx.onMenuShareWeibo({//QQ微博
                title: shareTitle,
                desc: descContent,
                link: lineLink,
                imgUrl: imgUrl,
                success: function () { 
                    console.log("onMenuShareWeibo success!");
                    // 用户确认分享后执行的回调函数
                },
                cancel: function () { 
                    // 用户取消分享后执行的回调函数
                }
            });
            
             wx.onMenuShareQZone({//QQ空间
                title: shareTitle,
                desc: descContent,
                link: lineLink,
                imgUrl: imgUrl,
                success: function () { 
                    console.log("onMenuShareQZone success!");
                    // 用户确认分享后执行的回调函数
                },
                cancel: function () { 
                    // 用户取消分享后执行的回调函数
                }
            });
        });
     
        $(document).ready(function() {
            var parent = document.getElementById("denglu");
            
            var deng = document.createElement("li");
            var zhu = document.createElement("li");
            var username = document.createElement("li");
            var logout = document.createElement("li");
            var denglink = document.createElement("a");
            var zhulink = document.createElement("a");
            var logoutlink = document.createElement("a");
            
            denglink.setAttribute("href", "signin.html");
            denglink.innerHTML = "登录";
            deng.appendChild(denglink);
            
            zhulink.setAttribute("href", "signup.html");
            zhulink.innerHTML = "注册";
            zhu.appendChild(zhulink);
            
            logoutlink.setAttribute("onclick", "logout()");
            logoutlink.innerHTML = "退出";
            logout.appendChild(logoutlink);
            
            $.ajax({
                url : "/getlogin/", 
                success: function (data) {
                    if(data == 'error'){
                        parent.appendChild(deng);
                        parent.appendChild(zhu);
                    }
                    else{
                        username.innerHTML = data;
                        parent.appendChild(username);
                        parent.appendChild(logout);
                    }
                },
            });
        });
    
        function logout(){  
            $.ajax({
                    url : "/logout/", // the endpoint
                    success: function () {
                        window.location.href = "signin.html";
                    },
                });
        };  

        function signin(){
            window.location.href = "signin.html";
        };
    </script>  
	
</body>

</html>
