<!DOCTYPE html>
<html lang="en">

<head>
	<title>团队成员 | 明曦（杭州）资产管理有限公司</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Responsive Multipurpose Bootstrap Theme">
	<meta name="author" content="The Develovers">
	<!-- CSS -->
	<link href="assets/css/bootstrap.css" rel="stylesheet" type="text/css">
	<link href="assets/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="assets/css/main.css" rel="stylesheet" type="text/css">
	<link href="assets/css/my-custom-styles.css" rel="stylesheet" type="text/css">
	
	<!-- FAVICONS -->
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/repute144x144.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/repute114x114.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/repute72x72.png">
	<link rel="apple-touch-icon-precomposed" href="assets/ico/repute57x57.png">
	<link rel="shortcut icon" href="assets/ico/favicon.png">
</head>

<body>
	<!-- WRAPPER -->
	<div class="wrapper">
		<!-- NAVBAR -->
		<nav class="navbar navbar-default " role="navigation">
			<div class="container">
				
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav">
						<span class="sr-only">Toggle Navigation</span>
						<i class="fa fa-bars"></i>
					</button>
					<a href="index.html" >
						<img style="width:192px;height:40px;margin-top:5px;" src="assets/img/logo/logo设计_画板 4.png" alt="明曦（杭州）资产管理有限公司">
					</a>
				</div>
				<!-- MAIN NAVIGATION -->
				<div id="main-nav" class="navbar-collapse collapse navbar-mega-menu">
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown active">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">主页 <i class="fa fa-angle-down"></i></a>
							<ul class="dropdown-menu" role="menu">
								<li><a href="index.html">主页</a></li>
								
								
							</ul>
						</li>
						<li class="dropdown ">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">明曦简介   <i class="fa fa-angle-down"></i></a>
							<ul class="dropdown-menu" role="menu">
								<li><a href="page-about-us.html">明曦简介</a></li>
								
								
							</ul>
						</li>
						<li class="dropdown ">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">团队成员 <i class="fa fa-angle-down"></i></a>
							<ul class="dropdown-menu" role="menu">
								<li><a href="page-pricing-tables.html">团队成员</a></li>
								
								
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" data-toggle="dropdown">产品介绍 <i class="fa fa-angle-down"></i></a>
							<ul class="dropdown-menu" role="menu">
								<li><a href="page-services.html">明曦CTA1号</a></li>
								<li><a href="page-support.html">明曦-礼瀚FOF1号</a></li>
								
							</ul>
							
						</li>
						<li class="dropdown ">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">招贤纳士 <i class="fa fa-angle-down"></i></a>
							<ul class="dropdown-menu" role="menu">
								<li><a href="portfolio-4-columns.html">量化程序员（quantitative developer）/实习生</a></li>
								<li><a href="portfolio-3-columns.html">量化投资套利策略研究员</a></li>
							</ul>
						</li>
						<li class = "nav navbar-nav"> 
                            <ul class="breadcrumb" id="denglu">
                            </ul>
                        </li>
						
					</ul>
				</div>
				<!-- END MAIN NAVIGATION -->
			</div>
		</nav>
		<!-- END NAVBAR -->
		<!-- BREADCRUMBS -->
		<div class="page-header">
			<div class="container">
				<h1 class="page-title pull-left" style="font-family:Microsoft YaHei"><strong>团队成员</strong></h1>
				
			</div>
		</div>
		<!-- END BREADCRUMBS -->
		<!-- PAGE CONTENT -->
		<div class="page-content">
			<div class="container">
			
			<!-- MULTIPLE PRICING -->
				<h2 class="section-heading"></h2>
				<div class="multiple-pricing-table">
					
					<div class="row">
						<div class="col-md-6 col-sm-6">
							<div class="pricing-item">
								
								<img src="assets/img/image001.jpg" class="img-responsive center-block margin-bottom-30px" alt="Ultra Responsive">
								<h4>总经理</h4>
								<strong class="price"><strong>张曦</strong></strong>
								<ul class="list-unstyled plan-detail-list">
									<p><strong></strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;曾在纽约的德意志银行、HBK对冲基金、高盛集团从事衍生品定价、交易策略设计、风险管理等工作，回国后参与平安集团投资管理中心架构重组，后在平安集团首席投资官办公室任资产策略经理，离开平安后创立旷腾农产品交易平台并任CEO。北京大学物理学士、美国Rice University物理博士，目前同时在上海交大研究生院担任企业导师，为2名硕士研究生提供金融领域的研究指导。</p>
									<li><strong></strong> </li>
									<li><strong></strong> </li>
									<li><strong></strong></li>
								</ul>
								
							</div>
						</div>
						<div class="col-md-6 col-sm-6">
							<div class="pricing-item">
								
								<img src="assets/img/965718.jpg" class="img-responsive center-block margin-bottom-30px" alt="Easy to Customize">
								<h4>投资总监</h4>
								
								<strong class="price"><strong>陈铭</strong></strong>
								<ul class="list-unstyled plan-detail-list">
									<p><strong></strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;曾就职于美国花旗集团、WorldQuant对冲基金、国泰君安资管公司，在量化投资方面拥有丰富的全流程经验，包括投资策略设计、平台搭建、交易系统、衍生品定价等各个方面。除了在美股、国内股票及期货市场均有很多优秀策略，还设计开发了一套智能化辅助策略生成系统，大大提高了策略研发效率。浙江大学计算机系学士及博士，博士研究方向为人工智能和机器学习，拥有多项发明专利和软件著作权。</p>
									<li><strong></strong></li>
									<li><strong></strong></li>
									<li><strong></strong></li>
								</ul>
								
							</div>
						</div>
						
					</div>
				</div>
			 <!-- END MULTIPLE PRICING -->
				                  
			
				
			</div>
		</div>
		<!-- END PAGE CONTENT -->
		<!-- FOOTER -->
		<footer>
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<!-- COLUMN 1 -->
						<h2 class="footer-heading" style="font-family:Microsoft YaHei"><strong>明曦资本</strong></h2>
						
						
						
						<br>
						
						<!-- END COLUMN 1 -->
					</div>
					
					
					
					
					<div class="col-md-4">
						<!-- COLUMN 2 -->
						<address class="margin-bottom-30px">
							<ul class="list-unstyled">
								
								<li>联系电话: 0571-56570410</li>
								<li>&nbsp;&nbsp;</li>
								<li>联系邮箱: contact@mingxifund.com</li>
								<li>&nbsp;&nbsp;</li>
								<li>微信公众号：明曦资本</li>
							</ul>
						</address>
						<!-- END COLUMN 2 -->
						<!--
						<h3 class="footer-heading">USEFUL LINKS</h3>
						<div class="row margin-bottom-30px">
							<div class="col-xs-6">
								<ul class="list-unstyled footer-nav">
									<li><a href="#">About Us</a></li>
									<li><a href="#">News</a></li>
									<li><a href="#">Community</a></li>
									<li><a href="#">Career</a></li>
									<li><a href="#">Blog</a></li>
								</ul>
							</div>
							<div class="col-xs-6">
								<ul class="list-unstyled footer-nav">
									<li><a href="#">Press Kit</a></li>
									<li><a href="#">FAQ</a></li>
									<li><a href="#">Terms</a></li>
									<li><a href="#">Privacy Policy</a></li>
									<li><a href="#">Contact Us</a></li>
								</ul>
							</div>
						</div>
						
					</div>
					<div class="col-md-4">
						<!-- COLUMN 3 
						<div class="newsletter">
							<h3 class="footer-heading">NEWSLETTER</h3>
							<p>Get the latest update from us by subscribing to our newsletter.</p>
							<form class="newsletter-form" method="POST">
								<div class="input-group input-group-lg">
									<input type="email" class="form-control" name="email" placeholder="youremail@domain.com">
									<span class="input-group-btn"><button class="btn btn-primary" type="button"><i class="fa fa-spinner fa-spin"></i><span>SUBSCRIBE</span></button>
									</span>
								</div>
								<div class="alert"></div>
							</form>
						</div>
						<div class="social-connect">
							<h3 class="footer-heading">GET CONNECTED</h3>
							<ul class="list-inline social-icons">
								<li><a href="#" class="facebook-bg"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#" class="twitter-bg"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#" class="googleplus-bg"><i class="fa fa-google-plus"></i></a></li>
								<li><a href="#" class="rss-bg"><i class="fa fa-rss"></i></a></li>
							</ul>
						</div>
						<!-- END COLUMN 3 -->
					</div>
					<div class="col-md-4">
						<!-- COLUMN 2 -->
						
						
						<img src="assets/img/qrcode_for_gh_e8e8bd0f13ba_430.jpg" height="150" width="150" class="img-responsive" alt="Image Intro">
						
						
						
						
						<!-- END COLUMN 2 -->
					</div>
				</div>
			</div>
			<!-- COPYRIGHT -->
			<div class="text-center copyright">
				&copy;2016 All Rights Reserved. 明曦（杭州）资产管理有限公司 浙ICP备16019070号-1
			</div>
			<!-- END COPYRIGHT -->
		</footer>
		<!-- END FOOTER -->
	</div>
	<!-- END WRAPPER -->
	<!-- JAVASCRIPTS -->
	<script src="assets/js/jquery-2.1.1.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/js/plugins/autohidingnavbar/jquery.bootstrap-autohidingnavbar.min.js"></script>
	<script src="assets/js/repute-scripts.js"></script>
	<script>
    $(document).ready(function() {
            var parent = document.getElementById("denglu");
            
            var deng = document.createElement("li");
            var zhu = document.createElement("li");
            var username = document.createElement("li");
            var logout = document.createElement("li");
            var denglink = document.createElement("a");
            var zhulink = document.createElement("a");
            var logoutlink = document.createElement("a");
            
            denglink.setAttribute("href", "signin.html");
            denglink.innerHTML = "登录";
            deng.appendChild(denglink);
            
            zhulink.setAttribute("href", "signup.html");
            zhulink.innerHTML = "注册";
            zhu.appendChild(zhulink);
            
            logoutlink.setAttribute("onclick", "logout()");
            logoutlink.innerHTML = "退出";
            logout.appendChild(logoutlink);
            
            $.ajax({
                url : "/getlogin/", 
                success: function (data) {
                    if(data == 'error'){
                        parent.appendChild(deng);
                        parent.appendChild(zhu);
                    }
                    else{
                        username.innerHTML = data;
                        parent.appendChild(username);
                        parent.appendChild(logout);
                    }
                },
            });
        });
    
        function logout(){  
            $.ajax({
                    url : "/logout/", // the endpoint
                    success: function () {
                        window.location.href = "signin.html";
                    },
                });
        }  

        function signin(){
            window.location.href = "signin.html";
        }
    </script>
</body>

</html>
