<!DOCTYPE html>
<html lang="en">

<head>
	<title>产品介绍 | 明曦（杭州）资产管理有限公司</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Responsive Multipurpose Bootstrap Theme">
	<meta name="author" content="The Develovers">
	<!-- CSS -->
	<link href="assets/css/bootstrap.css" rel="stylesheet" type="text/css">
	<link href="assets/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="assets/css/main.css" rel="stylesheet" type="text/css">
	<link href="assets/css/my-custom-styles.css" rel="stylesheet" type="text/css">
	
	
	<!-- FAVICONS -->
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/repute144x144.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/repute114x114.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/repute72x72.png">
	<link rel="apple-touch-icon-precomposed" href="assets/ico/repute57x57.png">
	<link rel="shortcut icon" href="assets/ico/favicon.png">
</head>

<body ng-app="app">
	<!-- WRAPPER -->
	<div class="wrapper">
		<!-- NAVBAR -->
		<nav class="navbar navbar-default " role="navigation">
			<div class="container">
				
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav">
						<span class="sr-only">Toggle Navigation</span>
						<i class="fa fa-bars"></i>
					</button>
					<a href="index.html" >
						<img style="width:192px;height:40px;margin-top:5px;" src="assets/img/logo/logo设计_画板 4.png" alt="明曦（杭州）资产管理有限公司">
					</a>
				</div>
				<!-- MAIN NAVIGATION -->
				<div id="main-nav" class="navbar-collapse collapse navbar-mega-menu">
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown active">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">主页 <i class="fa fa-angle-down"></i></a>
							<ul class="dropdown-menu" role="menu">
								<li><a href="index.html">主页</a></li>
								
								
							</ul>
						</li>
						<li class="dropdown ">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">明曦简介   <i class="fa fa-angle-down"></i></a>
							<ul class="dropdown-menu" role="menu">
								<li><a href="page-about-us.html">明曦简介</a></li>
								
								
							</ul>
						</li>
						<li class="dropdown ">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">团队成员 <i class="fa fa-angle-down"></i></a>
							<ul class="dropdown-menu" role="menu">
								<li><a href="page-pricing-tables.html">团队成员</a></li>
								
								
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" data-toggle="dropdown">产品介绍 <i class="fa fa-angle-down"></i></a>
							<ul class="dropdown-menu" role="menu">
								<li><a href="page-services.html">明曦CTA1号</a></li>
								<li><a href="page-support.html">明曦-礼瀚FOF1号</a></li>
								
							</ul>
							
						</li>
						<li class="dropdown ">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">招贤纳士 <i class="fa fa-angle-down"></i></a>
							<ul class="dropdown-menu" role="menu">
								<li><a href="portfolio-4-columns.html">量化程序员（quantitative developer）/实习生</a></li>
								<li><a href="portfolio-3-columns.html">量化投资套利策略研究员</a></li>
							</ul>
						</li>
                        <li class = "nav navbar-nav"> 
                            <ul class="breadcrumb" id="denglu">
                            </ul>
                        </li>
					</ul>
				</div>
				<!-- END MAIN NAVIGATION -->
			</div>
		</nav>
		<!-- END NAVBAR -->
		<!-- BREADCRUMBS -->
		<div class="page-header">
			<div class="container">
				<h1 class="page-title pull-left" style="font-family:Microsoft YaHei"><strong>明曦产品</strong></h1>
				
			</div>
		</div>
		<!-- END BREADCRUMBS -->
		<!-- PAGE CONTENT -->
		
		<div class="page-content">
			<div class="container-fluid">
                <div class="row">
                    <ul class="nav nav-tabs nav-stacked col-md-3" style="float: left">
                        <li class="active"><a href="#CTA1"  data-toggle="tab">明曦CTA1号</a></li>
                        <li><a href="#FOF1"  data-toggle="tab">明曦-礼瀚FOF1号</a></li>
                    </ul>
                    <div class="tab-content col-md-9" style="float: right;">
                        <div ng-view>
                        </div>
                    </div>
                
                </div>
			</div>
            
		</div>
		<!-- END PAGE CONTENT -->
        

		<!-- FOOTER -->
		<footer>
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<!-- COLUMN 1 -->
						<h2 class="footer-heading" style="font-family:Microsoft YaHei"><strong>明曦资本</strong></h2>
						<br>
					</div>
					<div class="col-md-4">
						<!-- COLUMN 2 -->
						<address class="margin-bottom-30px">
							<ul class="list-unstyled">
								
								<li>联系电话: 0571-56570410</li>
								<li>&nbsp;&nbsp;</li>
								<li>联系邮箱: contact@mingxifund.com</li>
								<li>&nbsp;&nbsp;</li>
								<li>微信公众号：明曦资本</li>
							</ul>
						</address>
					</div>
					<div class="col-md-4">
						<img src="assets/img/qrcode_for_gh_e8e8bd0f13ba_430.jpg" height="150" width="150" class="img-responsive" alt="Image Intro">
					</div>
				</div>
			</div>
			<!-- COPYRIGHT -->
			<div class="text-center copyright">
				&copy;2016 All Rights Reserved. 明曦（杭州）资产管理有限公司 浙ICP备16019070号-1
			</div>
			<!-- END COPYRIGHT -->
		</footer>
		<!-- END FOOTER -->
	</div>
	<!-- END WRAPPER -->
	<!-- JAVASCRIPTS -->
	<script src="assets/js/jquery-2.1.1.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/js/plugins/autohidingnavbar/jquery.bootstrap-autohidingnavbar.min.js"></script>
	<script src="assets/js/repute-scripts.js"></script>
    <script language="javascript" type="text/javascript" src="assets/js/highcharts.js"></script>
    <script language="javascript" type="text/javascript" src="assets/js/exporting.js"></script>
    <script src="//cdn.bootcss.com/angular.js/1.5.8/angular.min.js"></script>
    <script src="//cdn.bootcss.com/angular.js/1.5.8/angular-route.min.js"></script>
    <script language="javascript">
    "use strict"
        var app = angular.module('app',['ngRoute']);
            app.config(function($httpProvider) {
                $httpProvider.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest';
            }); 
            app.config(function($interpolateProvider) {
                $interpolateProvider.startSymbol('{$');
                $interpolateProvider.endSymbol('$}');
            });
            app.config(['$routeProvider',function($routeProvider){
				$routeProvider
				.when('/CTA1',{
					templateUrl:'CTA1.html'
				})
                .when('/FOF1',{
					templateUrl:'FOF1.html'
				})
				.otherwise({
					redirectTo:'/CTA1'
				});
			}]);
            app.controller("data",function($scope,$location){
                $scope.CTA = function(){
                    $location.url('/FOF1');
                };
                $scope.FOF = function(){
                    $location.url('/CTA1');
                };
            });

    </script>
	<script language="javascript">
    
        
        var parent = document.getElementById("denglu");
        
        var deng = document.createElement("li");
        var zhu = document.createElement("li");
        var username = document.createElement("li");
        var logoutli = document.createElement("li");
        var denglink = document.createElement("a");
        var zhulink = document.createElement("a");
        var logoutlink = document.createElement("a");
        
        denglink.setAttribute("href", "signin.html");
        denglink.innerHTML = "登录";
        deng.appendChild(denglink);
        
        zhulink.setAttribute("href", "signup.html");
        zhulink.innerHTML = "注册";
        zhu.appendChild(zhulink);
        
        logoutlink.setAttribute("onclick", "logout()");
        logoutlink.innerHTML = "退出";
        logoutli.appendChild(logoutlink);
        
        $.ajax({
                url : "/getlogin/", // the endpoint
                //type : "POST", // http method
                //data : null, // data sent with the post request
                success: function (data) {
                    if(data == 'error'){
                        parent.appendChild(deng);
                        parent.appendChild(zhu);
                    }
                    else{
                        username.innerHTML = data;
                        parent.appendChild(username);
                        parent.appendChild(logoutli);
                    }
                },
            });
            
            
   
    
    function logout(){  
        $.ajax({
                url : "/logout/", // the endpoint
                success: function () {
                    window.location.href = "signin.html";
                },
            });
    };  

    function signin(){
        window.location.href = "signin.html";
    };
    </script>
</body>

</html>
