
<!DOCTYPE html>
<html lang="en">

<head>
	<title>产品介绍 | 明曦（杭州）资产管理有限公司</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Responsive Multipurpose Bootstrap Theme">
	<meta name="author" content="The Develovers">
	<!-- CSS -->
	<link href="assets/css/bootstrap.css" rel="stylesheet" type="text/css">
	<link href="assets/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="assets/css/main.css" rel="stylesheet" type="text/css">
	<link href="assets/css/my-custom-styles.css" rel="stylesheet" type="text/css">
	
	<!-- IE 9 Fallback-->
	<!--[if IE 9]>
		<link href="assets/css/ie.css" rel="stylesheet">
	<![endif]-->
	<!-- GOOGLE FONTS -->
	<link href='http://fonts.useso.com/css?family=Open+Sans:300,400italic,400,600,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.useso.com/css?family=Roboto+Condensed:300,300italic,400italic,700,400,300' rel='stylesheet' type='text/css'>
	<!-- FAVICONS -->
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/repute144x144.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/repute114x114.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/repute72x72.png">
	<link rel="apple-touch-icon-precomposed" href="assets/ico/repute57x57.png">
	<link rel="shortcut icon" href="assets/ico/favicon.png">
</head>

<body>
	<!-- WRAPPER -->
	<div class="wrapper">
		<!-- NAVBAR -->
		<nav class="navbar navbar-default " role="navigation">
			<div class="container">
				
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav">
						<span class="sr-only">Toggle Navigation</span>
						<i class="fa fa-bars"></i>
					</button>
					<a href="index.html" >
						<img style="width:192px;height:40px;margin-top:5px;" src="assets/img/logo/logo设计_画板 4.png" alt="明曦（杭州）资产管理有限公司">
					</a>
				</div>
				<!-- MAIN NAVIGATION -->
				<div id="main-nav" class="navbar-collapse collapse navbar-mega-menu">
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown active">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">主页 <i class="fa fa-angle-down"></i></a>
							<ul class="dropdown-menu" role="menu">
								<li><a href="index.html">主页</a></li>
								
								
							</ul>
						</li>
						<li class="dropdown ">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">明曦简介   <i class="fa fa-angle-down"></i></a>
							<ul class="dropdown-menu" role="menu">
								<li><a href="page-about-us.html">明曦简介</a></li>
								
								
							</ul>
						</li>
						<li class="dropdown ">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">团队成员 <i class="fa fa-angle-down"></i></a>
							<ul class="dropdown-menu" role="menu">
								<li><a href="page-pricing-tables.html">团队成员</a></li>
								
								
							</ul>
						</li>
						<li class="dropdown mega-menu">
							<a href="#" data-toggle="dropdown">产品介绍 <i class="fa fa-angle-down"></i></a>
							<ul class="dropdown-menu" role="menu">
								<li><a href="page-services.html">明曦CTA产品</a></li>
								<li><a href="page-support.html">明曦FOF产品</a></li>
								<li><a href="page-terms.html">更多产品</a></li>
								
							</ul>
							
						</li>
						<li class="dropdown ">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">招贤纳士 <i class="fa fa-angle-down"></i></a>
							<ul class="dropdown-menu" role="menu">
								<li><a href="portfolio-4-columns.html">量化程序员（quantitative developer）/实习生</a></li>
								<li><a href="portfolio-3-columns.html">量化投资套利策略研究员</a></li>
								
								
							</ul>
						</li>
						
						
					</ul>
				</div>
				<!-- END MAIN NAVIGATION -->
			</div>
		</nav>
		<!-- END NAVBAR -->
		<!-- BREADCRUMBS -->
		<div class="page-header">
			<div class="container">
				<h1 class="page-title pull-left" style="font-family:Microsoft YaHei"><strong>更多产品</strong></h1>
				
			</div>
		</div>
		<!-- END BREADCRUMBS -->
		<!-- PAGE CONTENT -->
		
		<div class="page-content">
			<div class="container">
				<section>
					<p>有关产品的详细信息请通过联系方式联系我们。</p>
                    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                       获取产品信息
                    </button>
                </section>
			</div>
		</div>
		<!-- END PAGE CONTENT 
        
        <!-- 模态框（Modal） -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
           <div class="modal-dialog">
              <div class="modal-content">
                 <div class="modal-header">
                    <button type="button" class="close" 
                       data-dismiss="modal" aria-hidden="true">
                          &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                       请输入密码：
                    </h4>
                 </div>
                <form method="POST" id="formadd" name="login">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="pwd">密码:</label>
							<input type="password" class="form-control" id="pwd" name="pwd" placeholder="Password" required>
						</div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" 
                        data-dismiss="modal">关闭
                        </button>
                        <button type="submit" id= "btn" class="btn btn-primary">
                            确定
                        </button>
                    </div>
                 </form>
              </div><!-- /.modal-content -->
            </div>
        </div><!-- /.modal -->
        
		<!-- FOOTER -->
		<footer>
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<!-- COLUMN 1 -->
						<h2 class="footer-heading" style="font-family:Microsoft YaHei"><font size="4px" color="white">明曦资本</font></h2>
						<ul class="list-unstyled">
								
								<li>联系电话: 0571-56570410</li>
								<li>&nbsp;&nbsp;</li>
								<li>联系邮箱: contact@mingxifund.com</li>
								<li>&nbsp;&nbsp;</li>
								<li>微信公众号：明曦资本</li>
							</ul>
						<br>
					</div>
					<div class="col-md-4">
						<!-- COLUMN 2 -->
						<address class="margin-bottom-30px">
							<ul class="list-unstyled">
								
								<li><font size="4px" color="white">明曦资本微信公众号</font></li>
								<li>&nbsp;&nbsp;</li>
								
								<img src="assets/img/qrcode_for_gh_e8e8bd0f13ba_430.jpg" height="150" width="150" class="img-responsive" alt="Image Intro">
							</ul>
						</address>
						
					</div>
					<div class="col-md-4">
						<!-- COLUMN 2 -->
						<address class="margin-bottom-30px">
							<ul class="list-unstyled">
								
								<li><font size="4px" color="white">基金业协会备案记录</font></li>
								<li>&nbsp;&nbsp;</li>
								
								<img src="assets/img/wxid_77wjg8dobsn121_1470118522458_19.png" height="150" width="150" class="img-responsive" alt="Image Intro">
							</ul>
						</address>
					</div>
				</div>
			</div>
			<!-- COPYRIGHT -->
			<div class="text-center copyright">
				&copy;2016 All Rights Reserved. 明曦（杭州）资产管理有限公司 浙ICP备16019070号-1
			</div>
			<!-- END COPYRIGHT -->
		</footer>
		<!-- END FOOTER -->
	</div>
	<!-- END WRAPPER -->
	<!-- JAVASCRIPTS -->
	<script src="assets/js/jquery-2.1.1.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/js/plugins/autohidingnavbar/jquery.bootstrap-autohidingnavbar.min.js"></script>
	<script src="assets/js/repute-scripts.js"></script>
    <script language="javascript">
    $(document).ready(function() {
        console.log(document.getElementById("pwd").value);
        $('#formadd').submit(function()  
    　　{
            console.log($("#pwd").val());
            check();
        });
        function check(){
            console.log($("#pwd").val());
            $.ajax({
                url : "/more/", // the endpoint
                type : "POST", // http method
                data : { pwd : $("#pwd").val()}, // data sent with the post request
                success: function (data) {
                    if(data == 'yes'){
                        window.location.href = "page-detail.html";
                    }
                    else{
                        alert("密码错误，请重新输入密码！");
                    }
                },
            });
        }; 
    });
    </script>
	
</body>

</html>
