<!DOCTYPE html>
<html lang="en">

<head>
	<title>产品介绍 | 明曦（杭州）资产管理有限公司</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Responsive Multipurpose Bootstrap Theme">
	<meta name="author" content="The Develovers">
	<!-- CSS -->
	<link href="assets/css/bootstrap.css" rel="stylesheet" type="text/css">
	<link href="assets/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="assets/css/main.css" rel="stylesheet" type="text/css">
	<link href="assets/css/my-custom-styles.css" rel="stylesheet" type="text/css">
	
	
	<!-- FAVICONS -->
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/repute144x144.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/repute114x114.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/repute72x72.png">
	<link rel="apple-touch-icon-precomposed" href="assets/ico/repute57x57.png">
	<link rel="shortcut icon" href="assets/ico/favicon.png">
    <style type="text/css">
        ol{
           LIST-STYLE-TYPE: none; 
           LIST-STYLE-IMAGE: none; 
           margin:0px;
           padding:0px;
        }
        ol > li{
           LIST-STYLE-TYPE: none; 
           LIST-STYLE-IMAGE: none; 
        }
        ol > li >label{
            font-weight:normal;
        }
    </style>
</head>

<body>
	<!-- WRAPPER -->
	<div class="wrapper">
		<!-- NAVBAR -->
		<nav class="navbar navbar-default " role="navigation">
			<div class="container">
				
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav">
						<span class="sr-only">Toggle Navigation</span>
						<i class="fa fa-bars"></i>
					</button>
					<a href="index.html" >
						<img style="width:192px;height:40px;margin-top:5px;" src="assets/img/logo/logo设计_画板 4.png" alt="明曦（杭州）资产管理有限公司">
					</a>
				</div>
				<!-- MAIN NAVIGATION -->
				<div id="main-nav" class="navbar-collapse collapse navbar-mega-menu">
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown active">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">主页 <i class="fa fa-angle-down"></i></a>
							<ul class="dropdown-menu" role="menu">
								<li><a href="index.html">主页</a></li>
							</ul>
						</li>
						<li class="dropdown ">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">明曦简介   <i class="fa fa-angle-down"></i></a>
							<ul class="dropdown-menu" role="menu">
								<li><a href="page-about-us.html">明曦简介</a></li>
							</ul>
						</li>
						<li class="dropdown ">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">团队成员 <i class="fa fa-angle-down"></i></a>
							<ul class="dropdown-menu" role="menu">
								<li><a href="page-pricing-tables.html">团队成员</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" data-toggle="dropdown">产品介绍 <i class="fa fa-angle-down"></i></a>
							<ul class="dropdown-menu" role="menu">
								<li><a href="page-services.html">明曦CTA1号</a></li>
								<li><a href="page-support.html">明曦-礼瀚FOF1号</a></li>
							</ul>
						</li>
						<li class="dropdown ">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">招贤纳士 <i class="fa fa-angle-down"></i></a>
							<ul class="dropdown-menu" role="menu">
								<li><a href="portfolio-4-columns.html">量化程序员（quantitative developer）/实习生</a></li>
								<li><a href="portfolio-3-columns.html">量化投资套利策略研究员</a></li>
							</ul>
						</li>
                        
						<li class = "nav navbar-nav"> 
                            <ul class="breadcrumb" id="denglu">
                            </ul>
                        </li>
					</ul>
				</div>
				<!-- END MAIN NAVIGATION -->
			</div>
		</nav>
		<!-- END NAVBAR -->
		<!-- BREADCRUMBS -->
		<div class="page-header">
			<div class="container">
				<h1 class="page-title pull-left" style="font-family:Microsoft YaHei"><strong>注册</strong></h1>
				
			</div>
		</div>

		<!-- END BREADCRUMBS -->
		<!-- PAGE CONTENT -->
		
		<div class="page-content">
			<div class="container">
				<form class="col-md-6" data-toggle="validator" style="margin:0 auto;float:none;" id="signup" >
                    
                    <div class="register-hint" style="background:#f3f3f3;padding:10px 14px;">
                        <p class="hint-title" style="color:#ce6b54;font-size:14px;">本人同意以下提示：</p>
                        <span>风险提示：</span>
                        <p class="hint-content" style="text-indent:2em;margin-bottom:10px;">私募基金投资需承担各类风险，本金可能遭受损失。同时，私募基金投资还要考虑市场风险、信用风险、流动性风险、操作风险等各类投资风险。您在基金认购过程中应当注意核对自己的风险识别和风险承受能力，选择与自己风险识别能力和风险承受能力相匹配的私募基金。</p>
                        <p style="text-indent:2em;">以下一系列问题可在您选择合适的私募基金前，协助评估您的风险承受能力、理财方式及投资目标。</p>
                        <ol style="margin-left:2em;">
                            <li style="list-style-type:initial;">本人是承诺为自己购买私募基金产品</li>
                            <li style="list-style-type:initial;">并符合以下两种之一合格投资者财务条件：</li>
                            <ol style="margin-left:2em;">
                                <li style="list-style-type:circle;">符合金融资产不低于300万元（金融资产包括银行存款、股票、债券、基金份额、资产管理计划、银行理财产品、信托计划、保险产品、期货权益等）</li>
                                <li style="list-style-type:circle;">符合最近三年个人年均收入不低于50万元</li>
                            </ol>
                        </ol>
                    </div>
                    
                    <div class="question-area form-group" style="background:#f3f3f3;margin-top:10px;padding:10px;margin-bottom:10px;">
                        <div class="question-item">
                            <p style="font-weight:bold;">1. 您的学历</p>
                            <ol>
                                <li><input type="radio" name="graduation" id="graduation-option1" value="A" required>
                                    <label for="graduation-option1">A.高中及以下</label>
                                </li>
                                <li><input type="radio" name="graduation" id="graduation-option2" value="B" required>
                                    <label for="graduation-option2">B.中专或大专</label>
                                </li>
                                <li><input type="radio" name="graduation" id="graduation-option3" value="C" required>
                                    <label for="graduation-option3">C.本科</label>
                                </li>
                                <li><input type="radio" name="graduation" id="graduation-option4" value="D" required>
                                    <label for="graduation-option4">D.硕士及以上</label>
                                </li>                          
                            </ol>
                        </div>
                        <div class="question-item">
                            <p style="font-weight:bold;">2. 您的职业为</p>
                            <ol>
                                <li><input type="radio" name="occupation" id="occupation-option1" value="A" required>
                                    <label for="occupation-option1">A.无固定职业</label>
                                </li>
                                <li><input type="radio" name="occupation" id="occupation-option2" value="B" required>
                                    <label for="occupation-option2">B.专业技术人员</label>
                                </li>
                                <li><input type="radio" name="occupation" id="occupation-option3" value="C" required>
                                    <label for="occupation-option3">C.一般企事业单位员工</label>
                                </li>
                                <li><input type="radio" name="occupation" id="occupation-option4" value="D" required>
                                    <label for="occupation-option4">D.金融行业一般从业人员</label>
                                </li>                          
                            </ol>
                        </div>
                        <div class="question-item">
                            <p style="font-weight:bold;">3. 您的家庭可支配年收入为（折合人民币）</p>
                            <ol>
                                <li><input type="radio" name="income" id="income-option1" value="A" required>
                                    <label for="income-option1">A.50万元以下</label>
                                </li>
                                <li><input type="radio" name="income" id="income-option2" value="B" required>
                                    <label for="income-option2">B.50—100万元</label>
                                </li>
                                <li><input type="radio" name="income" id="income-option3" value="C" required>
                                    <label for="income-option3">C.100—500万元</label>
                                </li>
                                <li><input type="radio" name="income" id="income-option4" value="D" required>
                                    <label for="income-option4">D.500—1000万元</label>
                                </li>
                                <li><input type="radio" name="income" id="income-option5" value="E" required>
                                    <label for="income-option5">E.1000万元以上</label>
                                </li>                          
                            </ol>
                        </div>
                        <div class="question-item">
                            <p style="font-weight:bold;">4. 在您每年的家庭可支配收入中，可用于金融投资（储蓄存款除外）的比例为？</p>
                            <ol>
                                <li><input type="radio" name="finance" id="finance-option1" value="A" required>
                                    <label for="finance-option1">A.小于10%</label>
                                </li>
                                <li><input type="radio" name="finance" id="finance-option2" value="B" required>
                                    <label for="finance-option2">B.10%至25%</label>
                                </li>
                                <li><input type="radio" name="finance" id="finance-option3" value="C" required>
                                    <label for="finance-option3">C.25%至50%</label>
                                </li>
                                <li><input type="radio" name="finance" id="finance-option4" value="D" required>
                                    <label for="finance-option4">D.大于50%</label>
                                </li>                          
                            </ol>
                        </div>
                        <div class="question-item">
                            <p style="font-weight:bold;">5. 您的投资知识可描述为：</p>
                            <ol>
                                <li><input type="radio" name="knowledge" id="knowledge-option1" value="A" required>
                                    <label for="knowledge-option1">A.有限：基本没有金融产品方面的知识</label>
                                </li>
                                <li><input type="radio" name="knowledge" id="knowledge-option2" value="B" required>
                                    <label for="knowledge-option2">B.一般：对金融产品及其相关风险具有基本的知识和理解</label>
                                </li>
                                <li><input type="radio" name="knowledge" id="knowledge-option3" value="C" required>
                                    <label for="knowledge-option3">C.丰富：对金融产品及其相关风险具有丰富的知识和理解</label>
                                </li>                          
                            </ol>
                        </div>
                        <div class="question-item">
                            <p style="font-weight:bold;">6. 您的投资经验可描述为：</p>
                            <ol>
                                <li><input type="radio" name="investExperience" id="investExperience-option1" value="A" required>
                                    <label for="investExperience-option1">A.除银行储蓄外，基本没有其他投资经验</label>
                                </li>
                                <li><input type="radio" name="investExperience" id="investExperience-option2" value="B" required>
                                    <label for="investExperience-option2">B.购买过债券、保险等理财产品</label>
                                </li>
                                <li><input type="radio" name="investExperience" id="investExperience-option3" value="C" required>
                                    <label for="investExperience-option3">C.参与过股票、基金等产品的交易</label>
                                </li>
                                <li><input type="radio" name="investExperience" id="investExperience-option4" value="D" required>
                                    <label for="investExperience-option4">D.参与过权证、期货、期权等产品的交易</label>
                                </li>                          
                            </ol>
                        </div>
                        <div class="question-item">
                            <p style="font-weight:bold;">7. 您有多少年投资基金、股票、信托、私募证券或金融衍生产品等风险投资品的经验？</p>
                            <ol>
                                <li><input type="radio" name="investExperienceYears" id="investExperienceYears-option1" value="A" required>
                                    <label for="investExperienceYears-option1">A.没有经验</label>
                                </li>
                                <li><input type="radio" name="investExperienceYears" id="investExperienceYears-option2" value="B" required>
                                    <label for="investExperienceYears-option2">B.少于2年</label>
                                </li>
                                <li><input type="radio" name="investExperienceYears" id="investExperienceYears-option3" value="C" required>
                                    <label for="investExperienceYears-option3">C.2至5年</label>
                                </li>
                                <li><input type="radio" name="investExperienceYears" id="investExperienceYears-option4" value="D" required>
                                    <label for="investExperienceYears-option4">D.5至10年</label>
                                </li>
                                <li><input type="radio" name="investExperienceYears" id="investExperienceYears-option5" value="E" required>
                                    <label for="investExperienceYears-option5">E.10年以上</label>
                                </li>                         
                            </ol>
                        </div>
                        <div class="question-item">
                            <p style="font-weight:bold;">8. 您计划的投资期限是多久？</p>
                            <ol>
                                <li><input type="radio" name="investTerm" id="investTerm-option1" value="A" required>
                                    <label for="investTerm-option1">A.1年以下</label>
                                </li>
                                <li><input type="radio" name="investTerm" id="investTerm-option2" value="B" required>
                                    <label for="investTerm-option2">B.1至3年</label>
                                </li>
                                <li><input type="radio" name="investTerm" id="investTerm-option3" value="C" required>
                                    <label for="investTerm-option3">C.3至5年</label>
                                </li>
                                <li><input type="radio" name="investTerm" id="investTerm-option4" value="D" required>
                                    <label for="investTerm-option4">D.3至5年</label>
                                </li>                          
                            </ol>
                        </div>
                        <div class="question-item">
                            <p style="font-weight:bold;">9. 您的投资目的是？</p>
                            <ol>
                                <li><input type="radio" name="investPurpose" id="investPurpose-option1" value="A" required>
                                    <label for="investPurpose-option1">A.资产保值</label>
                                </li>
                                <li><input type="radio" name="investPurpose" id="investPurpose-option2" value="B" required>
                                    <label for="investPurpose-option2">B.资产稳健增长</label>
                                </li>
                                <li><input type="radio" name="investPurpose" id="investPurpose-option3" value="C" required>
                                    <label for="investPurpose-option3">C.资产迅速增长</label>
                                </li>                          
                            </ol>
                        </div>
                        <div class="question-item">
                            <p style="font-weight:bold;">10. 以下哪项描述最符合您的投资态度？</p>
                            <ol>
                                <li><input type="radio" name="investAttitude" id="investAttitude-option1" value="A" required>
                                    <label for="investAttitude-option1">A.厌恶风险，不希望本金损失，希望获得稳定回报</label>
                                </li>
                                <li><input type="radio" name="investAttitude" id="investAttitude-option2" value="B" required>
                                    <label for="investAttitude-option2">B.保守投资，不希望本金损失，愿意承担一定幅度的收益波动</label>
                                </li>
                                <li><input type="radio" name="investAttitude" id="investAttitude-option3" value="C" required>
                                    <label for="investAttitude-option3">C.寻求资金的较高收益和成长性，愿意为此承担有限本金损失</label>
                                </li>
                                <li><input type="radio" name="investAttitude" id="investAttitude-option4" value="D" required>
                                    <label for="investAttitude-option4">D.希望赚取高回报，愿意为此承担较大本金损失</label>
                                </li>                          
                            </ol>
                        </div>
                        <div class="question-item">
                            <p style="font-weight:bold;">11. 假设有两种投资：投资A预期获得10%的收益，可能承担的损失非常小；投资B预期获得30%的收益，但可能承担较大亏损。您会怎么支配您的投资</p>
                            <ol>
                                <li><input type="radio" name="investDistribution" id="investDistribution-option1" value="A" required>
                                    <label for="investDistribution-option1">A.全部投资于收益较小且风险较小的A</label>
                                </li>
                                <li><input type="radio" name="investDistribution" id="investDistribution-option2" value="B" required>
                                    <label for="investDistribution-option2">B.同时投资于A和B，但大部分资金投资于收益较小且风险较小的A</label>
                                </li>
                                <li><input type="radio" name="investDistribution" id="investDistribution-option3" value="C" required>
                                    <label for="investDistribution-option3">C.同时投资于A和B，但大部分资金投资于收益较大且风险较大的B</label>
                                </li>
                                <li><input type="radio" name="investDistribution" id="investDistribution-option4" value="D" required>
                                    <label for="investDistribution-option4">D.全部投资于收益较大且风险较大的B</label>
                                </li>                          
                            </ol>
                        </div>
                        <div class="question-item">
                            <p style="font-weight:bold;">12. 您认为自己能承受的最大投资损失是多少？</p>
                            <ol>
                                <li><input type="radio" name="tolerableLoss" id="tolerableLoss-option1" value="A" required>
                                    <label for="tolerableLoss-option1">A.10%以内</label>
                                </li>
                                <li><input type="radio" name="tolerableLoss" id="tolerableLoss-option2" value="B" required>
                                    <label for="tolerableLoss-option2">B.10%-30%</label>
                                </li>
                                <li><input type="radio" name="tolerableLoss" id="tolerableLoss-option3" value="C" required>
                                    <label for="tolerableLoss-option3">C.30%-50%</label>
                                </li>
                                <li><input type="radio" name="tolerableLoss" id="tolerableLoss-option4" value="D" required>
                                    <label for="tolerableLoss-option4">D.超过50%</label>
                                </li>                          
                            </ol>
                        </div>
                    </div>
                
                    <div class="form-group">
                        <label for="username">用户名:</label>
                        <input type="text" class="form-control" id="username" name="username" data-error="用户名不能为空！" placeholder="请输入..." required>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label for="pwd">密码:</label>
                        <input type="password" class="form-control" data-minlength="6" id="pwd" name="pwd"  placeholder="请输入..." required>
                        <div class="help-block">密码长度最少6位！</div>
                    </div>
                    <div class="form-group">
                        <label for="pwd2">密码确认:</label>
                        <input type="password" class="form-control" data-match="#pwd" data-match-error="密码不匹配！" data-error="密码不能为空！" id="pwd2" name="pwd2"  placeholder="请输入..." required>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label for="email">邮箱:</label>
                        <input type="email" class="form-control" id="email" name="email"  placeholder="请输入..." data-error="邮箱无效！" required>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group" id="checkcode">
                        <label for="verifycode">验证码:</label>
                        <input type="text" class="form-control" id="verifycode" name="verifycode" placeholder="请输入..." data-match="#imgid" data-match-error="验证码错误！" data-error="验证码不能为空！" required>
                        <div class="help-block with-errors"></div>
                    </div>
                        <a style="float:left;" href="signin.html">
					        已有账号，现在登录
					    </a>
                        <button type="submit" onclick="signup()" class="btn btn-primary" style="float:right;" >
					        注册
					    </button>
                </form>
			</div>
		</div>
		<!-- END PAGE CONTENT 
        
        
        
		<!-- FOOTER -->
		<footer>
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<!-- COLUMN 1 -->
						<h2 class="footer-heading" style="font-family:Microsoft YaHei"><strong>明曦资本</strong></h2>
						<br>
					</div>
					<div class="col-md-4">
						<!-- COLUMN 2 -->
						<address class="margin-bottom-30px">
							<ul class="list-unstyled">
								
								<li>联系电话: 0571-56570410</li>
								<li>&nbsp;&nbsp;</li>
								<li>联系邮箱: contact@mingxifund.com</li>
								<li>&nbsp;&nbsp;</li>
								<li>微信公众号：明曦资本</li>
							</ul>
						</address>
					</div>
					<div class="col-md-4">
						<img src="assets/img/qrcode_for_gh_e8e8bd0f13ba_430.jpg" height="150" width="150" class="img-responsive" alt="Image Intro">
					</div>
				</div>
			</div>
			<!-- COPYRIGHT -->
			<div class="text-center copyright">
				&copy;2016 All Rights Reserved. 明曦（杭州）资产管理有限公司 浙ICP备16019070号-1
			</div>
			<!-- END COPYRIGHT -->
		</footer>
		<!-- END FOOTER -->
	</div>
	<!-- END WRAPPER -->
	<!-- JAVASCRIPTS -->
	<script src="assets/js/jquery-2.1.1.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
    <script src="//cdn.bootcss.com/1000hz-bootstrap-validator/0.11.5/validator.js"></script>
	<script src="assets/js/plugins/autohidingnavbar/jquery.bootstrap-autohidingnavbar.min.js"></script>
	<script src="assets/js/repute-scripts.js"></script>
    <script language="javascript">
    var checkcode,img,changeimg,imgvalue;
    
    var graduation,occupation,income,finance,knowledge,investExperience,investExperienceYears,investTerm,investPurpose,investAttitude,investDistribution,tolerableLoss;
    function signup()  
    　　{
            var temp=document.getElementsByName("graduation");
            for(var i=0;i<temp.length;i++)
                if(temp[i].checked)
                    graduation = temp[i].value;
            temp=document.getElementsByName("occupation");
            for(var i=0;i<temp.length;i++)
                if(temp[i].checked)
                    occupation = temp[i].value;
            temp=document.getElementsByName("income");
            for(var i=0;i<temp.length;i++)
                if(temp[i].checked)
                    income = temp[i].value;
            temp=document.getElementsByName("finance");
            for(var i=0;i<temp.length;i++)
                if(temp[i].checked)
                    finance = temp[i].value;
            temp=document.getElementsByName("knowledge");
            for(var i=0;i<temp.length;i++)
                if(temp[i].checked)
                    knowledge = temp[i].value;
            temp=document.getElementsByName("investExperience");
            for(var i=0;i<temp.length;i++)
                if(temp[i].checked)
                    investExperience = temp[i].value;
            temp=document.getElementsByName("investExperienceYears");
            for(var i=0;i<temp.length;i++)
                if(temp[i].checked)
                    investExperienceYears = temp[i].value;
            temp=document.getElementsByName("investTerm");
            for(var i=0;i<temp.length;i++)
                if(temp[i].checked)
                    investTerm = temp[i].value;
            temp=document.getElementsByName("investPurpose");
            for(var i=0;i<temp.length;i++)
                if(temp[i].checked)
                    investPurpose = temp[i].value;
            temp=document.getElementsByName("investAttitude");
            for(var i=0;i<temp.length;i++)
                if(temp[i].checked)
                    investAttitude = temp[i].value;
            temp=document.getElementsByName("investDistribution");
            for(var i=0;i<temp.length;i++)
                if(temp[i].checked)
                    investDistribution = temp[i].value;
            temp=document.getElementsByName("tolerableLoss");
            for(var i=0;i<temp.length;i++)
                if(temp[i].checked)
                    tolerableLoss = temp[i].value;
                    
        
            $.ajax({
                    url : "/signup/", // the endpoint
                    type : "POST", // http method
                    data : { 
                  
                             username : $("#username").val(),
                             pwd : $("#pwd").val(),
                             email : $("#email").val(),
                             graduation : graduation,
                             occupation : occupation,
                             income : income,
                             finance : finance,
                             knowledge : knowledge,
                             investExperience : investExperience,
                             investExperienceYears : investExperienceYears,
                             investTerm : investTerm,
                             investPurpose : investPurpose,
                             investAttitude : investAttitude,
                             investDistribution : investDistribution,
                             tolerableLoss : tolerableLoss
                           }, // data sent with the post request
                    success: function (data) {
                        if(data == 'yes'){
                            window.location.href = "signin.html";
                            alert("恭喜您，注册成功！");
                        }
                        else{
                            window.location.href = "signup.html";
                            alert("该用户名已存在，请重新输入！");
                        }
                    },
                });
        };
        
        var parent = document.getElementById("denglu");
        //var icon = document.createElement("span");
        //icon.setAttribute("class", "glyphicon glyphicon-user");
        //parent.appendChild(icon);
        
        var deng = document.createElement("li");
        var zhu = document.createElement("li");
        var username = document.createElement("li");
        var denglink = document.createElement("a");
        var zhulink = document.createElement("a");
        
        denglink.setAttribute("href", "signin.html");
        denglink.innerHTML = "登录";
        deng.appendChild(denglink);
        
        zhulink.setAttribute("href", "signup.html");
        zhulink.innerHTML = "注册";
        zhu.appendChild(zhulink);
        
        
        $.ajax({
                url : "/getlogin/", // the endpoint
                //type : "POST", // http method
                //data : null, // data sent with the post request
                success: function (data) {
                    if(data == 'error'){
                        parent.appendChild(deng);
                        parent.appendChild(zhu);
                    }
                    else{
                        username.innerHTML = data;
                        parent.appendChild(deng);
                    }
                },
            });
    
    function showhidediv(){  
        //var deng=document.getElementById("deng");  
        var deng=document.getElementById("deng");   
        //var zhu=document.getElementById("zhu"); 

            deng.style.display='none';  
            //zhu.style.display='none';  
    
    }  
    
    function formatterDateTime() {
    var date=new Date();
    var month=date.getMonth() + 1;
        var datetime = date.getFullYear()
                + (month >= 10 ? month : "0"+ month)
                + (date.getDate() < 10 ? "0" + date.getDate() : date
                        .getDate())
                + (date.getHours() < 10 ? "0" + date.getHours() : date
                        .getHours())
                + (date.getMinutes() < 10 ? "0" + date.getMinutes() : date
                        .getMinutes())
                + (date.getSeconds() < 10 ? "0" + date.getSeconds() : date
                        .getSeconds());
        return datetime;
    };
    
    
    
    $.ajax({
        type: 'post',
        url: 'http://route.showapi.com/26-4',
        dataType: 'jsonp',
        data: {
            "showapi_timestamp": formatterDateTime(),
             "showapi_appid": '24312', //这里需要改成自己的appid
             "showapi_sign": 'f262bcc3da2b41578fb32382c70566cc',  //这里需要改成自己的应用的密钥secret，
             "image_width":'100',
             "image_height":'34',
             "textproducer_char_string":'abcdefghijklmnopqrstuvwxyz1234567890',
             "textproducer_char_length":'4',
             "textproducer_font_size":'20',
             "obscurificator_impl":'com.google.code.kaptcha.impl.ShadowGimpy',
             //"noise_color":'red'
        },
        jsonp: 'jsonpcallback', //这个方法名很重要,不能改变
        error: function(XmlHttpRequest, textStatus, errorThrown) {
            alert("操作失败!");
        },
        success: function(result) {
            //alert(result.showapi_res_body);
            if(result.showapi_res_code == 0)
                checkcode = document.getElementById("checkcode");
                img = document.createElement("img");
                img.setAttribute("src", result.showapi_res_body.img_path);
                img.setAttribute("id", "Image");

                var value = document.createElement("input");
                value.setAttribute("type", "hidden");
                value.setAttribute("id", "imgid");
                value.setAttribute("value", result.showapi_res_body.text);
                
                changeimg = document.createElement("span");
                changeimg.setAttribute("onclick", "imgchange()");
                changeimg.innerHTML = "换一张";
                
                checkcode.appendChild(img);
                checkcode.appendChild(changeimg);
                checkcode.appendChild(value);
                
                imgvalue = result.showapi_res_body.text;
        }
    });
    
    function imgchange(){
        $.ajax({
        type: 'post',
        url: 'http://route.showapi.com/26-4',
        dataType: 'jsonp',
        data: {
            "showapi_timestamp": formatterDateTime(),
             "showapi_appid": '24312', //这里需要改成自己的appid
             "showapi_sign": 'f262bcc3da2b41578fb32382c70566cc',  //这里需要改成自己的应用的密钥secret，
             "image_width":'100',
             "image_height":'34',
             "textproducer_char_string":'abcdefghijklmnopqrstuvwxyz1234567890',
             "textproducer_char_length":'4',
             "textproducer_font_size":'20',
             "obscurificator_impl":'com.google.code.kaptcha.impl.ShadowGimpy',
             //"noise_color":'red'
        },
        jsonp: 'jsonpcallback', //这个方法名很重要,不能改变
        error: function(XmlHttpRequest, textStatus, errorThrown) {
            alert("操作失败!");
        },
        success: function(result) {
            //alert(result.showapi_res_body);
            if(result.showapi_res_code == 0)
                $('#Image').attr('src',result.showapi_res_body.img_path);
                $('#imgid').attr('value',result.showapi_res_body.text);
        }
    });
    }
    </script>
	
</body>

</html>
